{{define "final_subject"}}
  Final Information for Purity Spring Retreat Weekend
{{end}}

{{define "final_text"}}Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},

Our summer weekend retreat is almost here! We're looking forward to seeing all of you up at Purity
Spring.

TL;DR: Sorry, you have to actually read this one.

Some last nuts and bolts:

Rides: If you need a ride to or from the weekend and don't have one yet, let us know ASAP (hit 
reply right now).

  -- Passengers: You should have already received another email from us with your ride assignment.
  -- Drivers: if you have not already heard from us, we are not expecting you to take other
              passengers.

{{if .Invitation.Thursday}}
Thursday Dinner: We will be arriving Thursday afternoon and will be getting dinner from the on-site
restaurant at Purity Spring, probably around 6:30.  If the weather is good, we will get takeout and
eat at the picnic tables on the island across the road.  If it's raining, PSR will reserve a
private room in the restaurant for us.  You are welcome to join us, either with food from the
restaurant or with food you bring yourself.  [update with likely weather]XXXXX

{{end}}

COVID-19: Please take a Covid test before you get in the car to drive to New Hampshire.

In general, we ask that people follow CDC guidelines for isolation and masking:

  https://www.cdc.gov/coronavirus/2019-ncov/your-health/quarantine-isolation.html

Please have everyone in your party take a rapid test before leaving your room each morning.  If you
have an unexpected positive test result, let us know immediately and we will help you figure out
what to do.  If you can bring your own tests please do so; if you can't manage that, we'll have some
extras.

Since we are having everyone test every day, we won't require masks anywhere.  Respect others'
masking choices and ask before getting too close, giving hugs, etc.  We will bring some extra
KN95s in adult and kid sizes in case anyone wants one.

There are picnic tables [in location XXXXX] so people can eat outdoors if desired.  There aren't a lot of
places to sit outside near our main common room so if you'd prefer to socialize outside you might
want to bring a blank or camp chair.

Everyone in our party is vaccinated/boosted to the extent that they can be, which means that
everyone except Lydia and Max has been vaccinated.


Directions: Purity Spring Resort is located at:

1251 Eaton Road (NH 153)
East Madison, NH 02849
1-800-373-3754
http://www.purityspring.com/

Because cell signal is so poor in the mountains, make sure you know where you are going before you
leave home -- or at least before you leave more populated areas on your way up.

When you arrive: At least one person from each room will need to check in in The Mill. Coming from
the south, it is one of the first buildings you will pass and it will be on your right. It is a
gray building with lots of windows and there is a sign that says "The Mill" out front. If you pass
Purity Lake on the right, you have gone too far. Park in the lot at The Mill and check in. If you
are not traveling with your roommates, the first person to arrive can pick up all the keys if you
like (but you should probably work this out in advance).

{{template "roomingInfo_text" .RoomingInfo}}

Once you have checked in, get back in your car and continue north on Eaton Road.

{{if .RoomingInfo.InviteeBookings.IsKingPine}}
If you want to go to the common areas with people/meals/games first, take the next left (past the
lake on the right and immediately before the big open field on the left) onto East Madison Road.
Tecumseh is on the right, the red building closest to the road after the field. Osceola is behind
Tecumseh. Our main common room will be on the first floor of Osceola and our fire pit is behind it.
Carrigain is about 100 yards up the road from Tecumseh/Osceola, on the right.

If you want to go to your room first, King Pine Lodge is about half a mile north of the Mill. It is
a long, low building on the left and there is a sign out front that reads "Purity Spring Resort /
King Pine / Guest Rooms / Trailsend Tavern / Evergreen Room."  Our rooms are in the south half
(closer to The Mill).
{{else}}
To get to our buildings, take the next left (past the lake on the right and immediately before the
big open field on the left) onto East Madison Road. Tecumseh is on the right, the red building
closest to the road after the field. Osceola is behind Tecumseh. Our main common room will be on the
first floor of Osceola and our fire pit is behind it.  Carrigain is about 100 yards up the road from
Tecumseh/Osceola, on the right.  There are also people staying in King Pine Lodge, a little farther
north up Eaton Road.
{{end}}

There are EV charging outlets on the back side of Tecumseh (between Tecumseh and Osceola) and behind
King Pine. We will clearly mark them.  Please do not park in these spots unless you are actively
charging. (See spreadsheet to coordinate when to charge.)

All of the places you need to know about are marked on our map (http://tinyurl.com/psr2022-map).

If you're looking for company/food/games/us, go to the Osceola common room.


Late Check-In: If you will be arriving after 8pm, the check in desk will be closed. Call Purity
Spring (603-367-8896) before they close and let them know that you will be arriving late. You can
either have the desk hold your key and leave it in the mailbox to the right of the door of The Mill,
or we can pick it up for you and hold it in the common room. Please let us know if you're going to
be arriving late (so we don't panic), and tell us if you need us to pick up your key.


Food: All meals other than Thursday dinner will take place near/be delivered to the Osceola common
room.

We have arranged for Friday, Saturday and Sunday lunch and Friday and Saturday dinner from various
local restaurants.  Thank you for signing up promptly for food.  All of the food orders have been
submitted.  If you would like to add something to a particular order, let us know by email (rather
than the spreadsheet) as soon as possible.  We cannot guarantee that we will be able to add on your
orders.

For any meal you're not participating in a group order, there is a limited takeout menu from the
on-site restaurant. In a pinch, there are plenty of other restaurants nearby.

You are also welcome to bring your own food, but fridge space is limited. Rooms in King Pine ONLY
have a minifridge, microwave, and coffeemaker.  Carrigain has its own kitchen, and there is a
(new! shiny!) full (but not large) kitchen off the Osceola common room.

People also often bring snacks to share.

If it is easy for you, consider bringing a reusable cup for every member of your family, clearly
labeled with their name. If this is not completely trivial, don't worry, we'll still bring the red
solo cups and the sharpies. But this seems like a good year to not accidentally drink out of someone
else's cup.

Please be aware that no outside alcohol is permitted at this weekend. If you would like a drink
sometime, alcohol is available in Traditions Restaurant in the Main Inn
(http://tinyurl.com/psr2022-map).



Communication with the Outside World: Cell signal is (at most) pretty flaky at PSR. Expect your
phone to suck up a lot of battery if you leave it on. If you want to make sure that someone can
reach you by phone in an emergency, give them Purity Spring's main number, 1-800-373-3754, and tell
them that you are with the Scott/Shabsin party at The Lodges. All of the buildings have reasonably
reliable wifi. If you really need to call out, find someone with a laptop and Google Voice (like
Dana or Chris).


What to Pack: Forecast is [...]XXXXX

There is an indoor pool and hot tub, and a lake, so there are plenty of opportunities for swimming.
PSR provides bath towels and pool towels, but not beach towels.

We will have plenty of sunscreen and some insect repellant available for communal use. If you are
traveling a long distance or don't intend to spend a lot of time outside you should be fine with our
supply, but if you have a large family and/or intend to spend the weekend mostly outdoors you may
wish to bring your own.

There will probably be lots of ticks.  Remember to check yourself and your children when you come in
from outside.  We'll bring tweezers and rubbing alcohol.

If you are staying in King Pine you might want to bring a flashlight to make the walk back and forth
easier after dark.

If there is any food you are particularly picky about (e.g. coffee) you may wish to bring your own.
If you/your family is skipping some of the pre-arranged meals, you'll probably want to bring
something else to eat. 

If it's easy for you, please bring a checkbook to pay your share of group meals. A lot of money
needs to change hands and Venmo/Paypal/Google Pay all have conditions and limits. Sorry!

If it's easy, bring a non-breakable, distinct-looking cup, clearly labeled with your name.

What will help you have fun this weekend?  Anything you want to share?  Games, jigsaw puzzles,
outdoor activities, your knitting, a good book or three?  There's a tab for games on the
spreadsheet (https://tinyurl.com/psr2022-help).

Please please please label anything that you intend for communal use with your name so that we can
be sure it gets back to you.


As always, you can find more information about our event, or change your profile information or
rsvp, on our event website: {{.LoginLink}}

If you have any questions or concerns, please let us know. We can't wait to see you all in just
a few days!



Dana, Chris, Lydia and Max
{{end}}

{{define "final_html"}}
<p>Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},<p>

<p>Our summer weekend retreat is almost here!  We're looking forward to seeing all of you up at Purity Spring.</p>

<p>TL;DR: Sorry, you have to actually read this one.</p>

<p>Some last nuts and bolts:</p>

<h3>Rides</h3>
<p>If you need a ride to or from the weekend and don't have one yet, let us know ASAP (hit reply right now).</p>

<p>
Passengers: You should have already received another email from us with your ride assignment.<br>
Drivers: if you have not already heard from us, we are not expecting you to take other passengers.
</p>

{{if .Invitation.Thursday}}
<h3>Thursday Dinner</h3>
<p>We will be arriving Thursday afternoon and will be getting dinner from the <a href="http://tinyurl.com/psr2022-map">on-site restaurant</a> at Purity Spring, probably around 6:30.
If the weather is good, we will get takeout and eat at the picnic tables on the island across the road.  If it's raining, PSR will reserve a private room in the restaurant for us.
You are welcome to join us, either with food from the restaurant or with food you bring yourself.  [update with likely weather]XXXXX</p>
{{end}}

<h3>COVID-19</h3>

<p>Please take a Covid test before you get in the car to drive to New Hampshire.</p>

<p>In general, we ask that people follow <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/quarantine-isolation.html">CDC guidelines for isolation and masking</a>.</p>

<p>Please have everyone in your party take a rapid test before leaving your room each morning.
If you have an unexpected positive test result, let us know immediately and we will help you figure
out what to do.  If you can bring your own tests please do so; if you can't manage that, we'll have
some extras.</p>

<p>Since we are having everyone test every day, we won't require masks anywhere.  Respect others'
masking choices and ask before getting too close, giving hugs, etc.  We will bring some extra KN95s
in adult and kid sizes in case anyone wants one.</p>

<p>There are picnic tables [in location XXXXX] so people can eat outdoors if desired.  There aren't
a lot of places to sit outside near our main common room so if you'd prefer to socialize outside you
might want to bring a blank or camp chair.</p>

<p>Everyone in our party is vaccinated/boosted to the extent that they can be, which means that
everyone except Lydia and Max has been vaccinated.</p>

<h3>Directions</h3>
<p>Purity Spring Resort is located at:<br><br>

1251 Eaton Road (NH 153)<br>
East Madison, NH   02849<br>
1-800-373-3754<br>
<a href="http://www.purityspring.com">http://www.purityspring.com/</a>
</p>

<p>Because cell signal is so poor in the mountains, make sure you know where you are going before you leave home -- or at least before you leave more populated areas on your way up.</p>

<h4>When you arrive</h4>

<p>At least one person from each room will need to check in in The Mill. Coming from the south, it is one of the first buildings you will pass and it will be on your right. It is a gray building with lots of windows and there is a sign that says "The Mill" out front. If you pass Purity Lake on the right, you have gone too far. Park in the lot at The Mill and check in. If you are not traveling with your roommates, the first person to arrive can pick up all the keys if you like (but you should probably work this out in advance).</p>

{{template "roomingInfo_html" .RoomingInfo}}

<p>Once you have checked in, get back in your car and continue north on Eaton Road.</p>

{{if .RoomingInfo.InviteeBookings.IsKingPine}}
<p>If you want to go to the common areas with people/meals/games first, take the next left (past the
lake on the right and immediately before the big open field on the left) onto East Madison Road.
Tecumseh is on the right, the red building closest to the road after the field. Osceola is behind
Tecumseh. Our main common room will be on the first floor of Osceola and our fire pit is behind it.
Carrigain is about 100 yards up the road from Tecumseh/Osceola, on the right.</p>

<p>If you want to go to your room first, King Pine Lodge is about half a mile north of the Mill. It is
a long, low building on the left and there is a sign out front that reads "Purity Spring Resort /
King Pine / Guest Rooms / Trailsend Tavern / Evergreen Room."  Our rooms are in the south half
(closer to The Mill).</p>
{{else}}
<p>To get to our buildings, take the next left (past the lake on the right and immediately before the
big open field on the left) onto East Madison Road. Tecumseh is on the right, the red building
closest to the road after the field. Osceola is behind Tecumseh. Our main common room will be on the
first floor of Osceola and our fire pit is behind it.  Carrigain is about 100 yards up the road from
Tecumseh/Osceola, on the right.  There are also people staying in King Pine Lodge, a little farther
north up Eaton Road.</p>
{{end}}

<p>There are EV charging outlets on the back side of Tecumseh (between Tecumseh and Osceola) and behind
King Pine. We will clearly mark them.  Please do not park in these spots unless you are actively
charging. (See spreadsheet to coordinate when to charge.)</p>

<p>All of the places you need to know about are marked on our <a href="http://tinyurl.com/psr2022-map">map</a>.</p>

<p>If you're looking for company/food/games/us, go to the Osceola common room.</p>

<h3>Late Check-In</h3>
<p>If you will be arriving after 8pm, the check in desk will be closed. Call Purity Spring (603-367-8896) before they close and let them know that you will be arriving late.
You can either have the desk hold your key and leave it in the mailbox to the right of the door of The Mill, or we can pick it up for you and hold it in the common room.
Please let us know if you're going to be arriving late (so we don't panic), and tell us if you need us to pick up your key.
</p>

<h3>Food</h3>
<p>All meals other than Thursday dinner will take place near/be delivered to the Osceola common room.</p>

<p>We have arranged for Friday, Saturday and Sunday lunch and Friday and Saturday dinner from various local restaurants.  Thank you for signing up promptly for food.  All of the orders have now been submitted.  If you would like to add something to a particular order, let us know by email (rather than the spreadsheet) as soon as possible.  We cannot guarantee that we will be able to add on your orders.</p>

<p>For any meal you're not participating in a group order, there is a limited takeout menu from the on-site restaurant. In a pinch, there are plenty of other restaurants nearby.</p>

<p>You are also welcome to bring your own food, but fridge space is limited. Rooms in King Pine ONLY have a minifridge, microwave, and coffeemaker.  Carrigain has its own kitchen, and there is a (new! shiny!) full (but not large) kitchen off the Osceola common room.</p>

<p>People also often bring snacks to share.</p>

<p>If it is easy for you, consider bringing a reusable cup for every member of your family, clearly labeled with their name. If this is not completely trivial, don't worry, we'll still bring the red solo cups and the sharpies. But this seems like a good year to not accidentally drink out of someone else's cup.</p>

<h3>Communication with the Outside World</h3>
<p>Cell signal is (at most) pretty flaky at PSR.  Expect your phone to suck up a lot of battery if you leave it on.  If you want to make sure that someone can reach you by phone in an emergency, give them Purity Spring's main number, 1-800-373-3754, and tell them that you are with the Scott/Shabsin party at the Lodges.  All of the buildings have reasonably reliable wifi.  If you really need to call out, find someone with Google Voice (like Dana or Chris).<p>


<h3>What to Pack</h3>
<p>Forecast is [XXXXX]</p>

<p>There is an indoor pool and hot tub, and a lake, so there are plenty of opportunities for swimming.
PSR provides bath towels and pool towels, but not beach towels.</p>

<p>We will have plenty of sunscreen and some insect repellant available for communal use. If you are
traveling a long distance or don't intend to spend a lot of time outside you should be fine with our
supply, but if you have a large family and/or intend to spend the weekend mostly outdoors you may
wish to bring your own.</p>

<p>There will probably be lots of ticks.  Remember to check yourself and your children when you come in
from outside.  We'll bring tweezers and rubbing alcohol.</p>

<p>If you are staying in King Pine you might want to bring a flashlight to make the walk back and forth
easier after dark.</p>

<p>If there is any food you are particularly picky about (e.g. coffee) you may wish to bring your own.
If you/your family is skipping some of the pre-arranged meals, you'll probably want to bring
something else to eat. </p>

<p>If it's easy for you, please bring a checkbook to pay your share of group meals. A lot of money needs to change hands and Venmo/Paypal/Google Pay all have conditions and limits. Sorry!</p>

<p>If it's easy, bring a non-breakable, distinct-looking cup, clearly labeled with your name.</p>

<p>What will help you have fun this weekend?  Anything you want to share?  Games, jigsaw puzzles,
outdoor activities, your knitting, a good book or three?  There's a tab for games on the
<a href="https://tinyurl.com/psr2022-help">spreadsheet</a>.</p>

<p>Please please please label anything that you intend for communal use with your name so that we can
be sure it gets back to you.</p>


<p style="margin-top:20px;">As always, you can find more information about our event, or change your profile information or rsvp, on our <a href="{{.LoginLink}}">event website</a>.</p>

<p style="margin-bottom:30px">If you have any questions or concerns, please let us know.   We can't wait to see you all in just a few days!</p>


<p>Dana, Chris, Lydia and Max</p>
{{end}}
