{{define "initial_invitation_subject"}}
  Summer Retreat at Purity Spring Resort
{{end}}

{{define "initial_invitation_text"}}Dear {{CollectiveAddressFirstNames .Invitation.InviteePeople 0}},


Seven years ago, we invited some of our friends up into the mountains of
New Hampshire to play board games, swim in the lake, swim in the pool,
lounge in the hot tub, dance a lot, play Rock Band, [try to] climb the
iceberg, build with LEGO, put together puzzles, solve puzzles, hike in
the White Mountains, play on the playground, toast marshmallows around
the bonfire, visit Storyland, sit in a beautiful place and do crafts,
visit with old friends, meet new friends, and, coincidentally, watch
us and support us as we got married.

The past few years, we've done the same thing, only we skipped the
part where we got married, and that was way less stressful. We got
Purity Spring Resort to help us try fun things like archery and rock
climbing. Our amazing friends, who know all about things like model
rocketry, juggling, handbell ringing, role-playing games, and
chocolatiering shared their hobbies with anyone who was
interested. It's been awesome. So we're doing it again! We'd love it
if you could join us for a weekend of relaxation and fun, whatever
that means to you.

We will be hosting a weekend of mostly-unstructured fun at Purity
Spring Resort in East Madison, NH, over the weekend of June 6th-9th,
2019.  The cost for the weekend will range from $130-$180 per person,
depending on how many people stay in your room. If you'd like to
extend your weekend away, some people will be staying Thursday night
as well. The extra night will cost an additional $50-$80 per person,
again depending on the number of people in your room.

Please let us know if you can join us. To RSVP, go to

{{.LoginLink}}

The RSVP form got long.  It should still be pretty quick to fill out.
You can go back and add more information as many times as you need to,
but we'd appreciate it if you could let us know if you're coming as
soon as you decide.  Also, know that everything on the RSVP form is
something we've had to send a lot of email about in the past, and we'd
like to cut down on the back and forth.

Special note for this year: Dana will be very, very pregnant during this
weekend.  So if you are interested in coming to our weekend primarily to
see the two of us (which is not many of you), this is maybe not the best
year to do that because there is a small but nonzero chance that we will
have to run off to have a baby.  If, however, you have experience
delivering babies, this is a GREAT year for you to attend. :)

For more information on this weekend, including the cost per person
and what it covers, see: http://psr2019.shabsin.com

We hope you can join us for our weekend retreat! It should be a lot of
fun and the company will be the best part.


Chris, Dana & Lydia
{{end}}


{{define "initial_invitation_html"}}

<div style="width:40em">
<p>Dear {{CollectiveAddressFirstNames .Invitation.InviteePeople 0}},</p>

<p>Seven years ago, we invited some of our friends up into the mountains of New Hampshire to play board games, swim in the lake, swim in the pool, lounge in the hot tub, dance a lot, play Rock Band, [try to] climb the iceberg, build with LEGO, put together puzzles, solve puzzles, hike in the White Mountains, play on the playground, toast marshmallows around the bonfire, visit Storyland, sit in a beautiful place and do crafts, visit with old friends, meet new friends, and, coincidentally, watch us and support us as we got married.</p>

<p>The past few years, we've done the same thing, only we skipped the part where we got married, and that was way less stressful. We got Purity Spring Resort to help us try fun things like archery and rock climbing. Our amazing friends, who know all about things like model rocketry, juggling, handbell ringing, role-playing games, and chocolatiering shared their hobbies with anyone who was interested. It's been awesome. So we're doing it again! We'd love it if you could join us for a weekend of relaxation and fun, whatever that means to you.</p>

<p>We will be hosting a weekend of mostly-unstructured fun at Purity Spring Resort in East Madison, NH, over the weekend of June 6th-9th, 2019.  The cost for the weekend will range from $130-$180 per person, depending on how many people stay in your room. If you'd like to extend your weekend away, some people will be staying Thursday night as well. The extra night will cost an additional $50-$80 per person, again depending on the number of people in your room.</p>

<p>Please let us know if you can join us. To RSVP, go to<p>

  <a href="{{.LoginLink}}">{{.LoginLink}}</a>

<p>The RSVP form got long.  It should still be pretty quick to fill out.  You can go back and add more information as many times as you need to, but we'd appreciate it if you could let us know if you're coming as soon as you decide.  Also, know that everything on the RSVP form is something we've had to send a lot of email about in the past, and we'd like to cut down on the back and forth.</p>

<p>Special note for this year: Dana will be very, very pregnant during this weekend.  So if you are interested in coming to our weekend primarily to see the two of us (which is not many of you), this is maybe not the best year to do that because there is a small but nonzero chance that we will have to run off to have a baby.  If, however, you have experience delivering babies, this is a GREAT year for you to attend. :) </p>


<p>For more information on this weekend, including the cost per person and what it covers, see: <a href="http://psr2019.shabsin.com">http://psr2019.shabsin.com</a><p>


<p>We hope you can join us for our weekend retreat! It should be a lot of fun and the company will be the best part.</p>


<p style="margin-top:30px">Chris, Dana & Lydia</p>
</div>
{{end}}


