{{define "initial_invitation_subject"}}
  Summer Retreat at Purity Spring Resort
{{end}}

{{define "initial_invitation_text"}}Dear {{CollectiveAddressFirstNames .Invitation.InviteePeople 0}},

We are hosting our annual retreat at Purity Spring Resort in East
Madison, New Hampshire!  This year it will run from June 6th-9th, and
you are invited to spend the weekend with us relaxing and having fun,
whatever that means to you.  It seems likely that there will be fun 
people, board games, swimming, jigsaw puzzles, hiking, crafting,
campfires, and beautiful scenery.  The rest is up to you!

The cost for the weekend will range from $130-$180 per person,
depending on how many people stay in your room. If you'd like to
extend your weekend away, some people will be staying Thursday night
as well. The extra night will cost an additional $50-$80 per person,
again depending on the number of people in your room.  If finances are
the reason you're not coming, let us know.

Please let us know if you can join us. To RSVP, go to

{{.LoginLink}}

The RSVP form got long.  It should still be pretty quick to fill out.
You can go back and add more information as many times as you need to,
but we'd appreciate it if you could let us know if you're coming as
soon as you decide.  Also, know that everything on the RSVP form is
something we've had to send a lot of email about in the past, and we're
trying to cut down on the back and forth.

Special note for this year: Dana will be very, very pregnant during this
weekend.  So if you are interested in coming to our weekend primarily to
see the two of us (which is not many of you), this is maybe not the best
year to do that because there is a small but nonzero chance that we will
have to run off to have a baby.  If, however, you have experience 
delivering babies, this is a GREAT year for you to attend. :)

For more information on this weekend, including the cost per person
and what it covers, see: http://psr2019.shabsin.com

We hope you can join us for our summer retreat! It should be a lot of
fun and the company will be the best part.


Chris, Dana & Lydia
{{end}}


{{define "initial_invitation_html"}}

<div style="width:40em">
<p>Dear {{CollectiveAddressFirstNames .Invitation.InviteePeople 0}},</p>

<p>We are hosting our annual retreat at Purity Spring Resort in East Madison, New Hampshire!  This year it will run from June 6th-9th, and you are invited to spend the weekend with us relaxing and having fun, whatever that means to you.  It seems likely that there will be fun people, board games, swimming, jigsaw puzzles, hiking, crafting, campfires, and beautiful scenery.  The rest is up to you!</p>

<p>The cost for the weekend will range from $130-$180 per person, depending on how many people stay in your room. If you'd like to extend your weekend away, some people will be staying Thursday night as well. The extra night will cost an additional $50-$80 per person, again depending on the number of people in your room.  If finances are the reason you're not coming, let us know.</p>

<p>Please let us know if you can join us. To RSVP, go to<p>

  <a href="{{.LoginLink}}">{{.LoginLink}}</a>

<p>The RSVP form got long.  It should still be pretty quick to fill out.  You can go back and add more information as many times as you need to, but we'd appreciate it if you could let us know if you're coming as soon as you decide.  Also, know that everything on the RSVP form is something we've had to send a lot of email about in the past, and we're trying to cut down on the back and forth.</p>

<p>Special note for this year: Dana will be very, very pregnant during this weekend.  So if you are interested in coming to our weekend primarily to see the two of us (which is not many of you), this is maybe not the best year to do that because there is a small but nonzero chance that we will have to run off to have a baby.  If, however, you have experience delivering babies, this is a GREAT year for you to attend. :) </p>

<p>For more information on this weekend, including the cost per person and what it covers, see:</p>

<a href="http://psr2019.shabsin.com">http://psr2019.shabsin.com</a>

<p>We hope you can join us for our summer retreat! It should be a lot of fun and the company will be the best part.</p>


<p style="margin-top:30px">Chris, Dana & Lydia</p>
</div>
{{end}}


