{{define "rooming_and_costs_subject"}}
  Housing/Cost information for Purity Spring Resort weekend
{{end}}

{{define "rooming_and_costs_text"}}Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},


Our Purity Spring weekend is almost upon us! 

This year we're doing things a little bit differently.  Purity Spring gave us
the option of saving all of you some money if we made the reservations
ourselves.  So we have!  You don't need to call the resort to reserve your
room.

However, this means we are on the hook for about $12,000, so if you could pay us
promptly, before that comes due, we'd appreciate it. :)

There are several ways you can pay us. In approximate order of preference:
  Google Pay: {{.Env.GOOGLE_WALLET_ADDRESS}}
  Venmo: {{.Env.VENMO_ADDRESS}}
  PayPal: {{if .Env.PAYPAL_URL}}{{.Env.PAYPAL_URL}}{{else}}{{.Env.PAYPAL_ADDRESS}}{{end}}
  Check (giving it to us at the weekend is fine)
  Pile of Cash (please don't do this)

{{template "roomingInfo_text" .RoomingInfo}}

If you foresee any problem with your rooms, let us know.  We're happy to answer
any questions.

As always, you can update your rsvp or profile on our event website: 

  {{.LoginLink}}

We can't wait to see you in New Hampshire!


Chris, Dana & Lydia
{{end}}

{{define "rooming_and_costs_html"}}
<p>Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},<p>


<p>Our Purity Spring weekend is almost upon us!</p>

<p>This year we're doing things a little bit differently.  Purity Spring gave us the option of saving all of you some money if we made the reservations ourselves.  So we have!  You don't need to call the resort to reserve your room.</p>

<p>However, this means we are on the hook for about $12,000, so if you could pay us promptly, before that comes due, we'd appreciate it. :)</p>

<p>There are several ways you can pay us. In approximate order of preference:</p>
<ul>
  <li>Google Pay: {{.Env.GOOGLE_WALLET_ADDRESS}}
  <li>Venmo: {{.Env.VENMO_ADDRESS}}
  <li>PayPal: {{if .Env.PAYPAL_URL}}<a href="{{.Env.PAYPAL_URL}}">{{.Env.PAYPAL_URL}}</a>{{else}}{{.Env.PAYPAL_ADDRESS}}{{end}}
  <li>Check (giving it to us at the weekend is fine)
  <li>Pile of Cash (please don't do this)
</ul>

 {{template "roomingInfo_html" .RoomingInfo}}

If you foresee any problem with your rooms, let us know.  We're happy to answer any questions.

<p>As always, you can <a href="{{.LoginLink}}">update your rsvp or profile</a> on our event website.

<p>We can't wait to see you in New Hampshire!</p>

  Chris, Dana & Lydia

  </div>
</div>
{{end}}
