{{define "initial_invitation_subject"}}
  Labor Day Weekend Retreat at Purity Spring Resort, August 30th-September 2nd
{{end}}

{{define "initial_invitation_text"}}Dear {{CollectiveAddressFirstNames .Invitation.InviteePeople 0}},

Many years ago, we got married at Purity Spring Resort in East Madison,
NH, and we had such a great time that we decided to make the easy part
(i.e. not the wedding) a recurring event.  Please join us for our
annual summer retreat over Labor Day Weekend, Friday August 30th -
Monday September 2nd!

You are invited to spend the weekend with us relaxing and having fun, 
whatever that means to you.  We predict that there will be fun people,
board games, swimming, dancing, jigsaw puzzles, hiking, crafting,
campfires, and beautiful scenery.  The rest is up to you!

Because our retreat is happening over the holiday weekend, we expect
most people will stay from Friday through Monday.  Purity Spring requires
a minimum 2-night stay, so if you need to you can also stay Friday-Sunday
or Saturday-Monday.

We will be going up Thursday night and taking the kids to Story Land on
Friday, when the Somerville Public Schools mysteriously have the day off.
You are welcome to join us!  Purity Spring will also honor our room rates
for 2 nights before and 2 nights days after our weekend (so August 28 -
September 4).


The cost for the weekend will include:
- your room
- access to resort amenities, like our common rooms and kitchen, the
  beaches and lake, and the pool
- lunches and dinners

A lot of factors go into the cost of the weekend, so we put a (pretty
rough) cost estimator on the RSVP form.

If you're not coming because of the cost, please let us know.

We want everyone to feel safe and enjoy themselves for the weekend, so
we will require daily COVID testing.  We do not plan to take any other
COVID precautions.  See the RSVP form for full details on the COVID plan.


Let us know if you can join us.  To RSVP, go to

  {{.LoginLink}}


For more information on this weekend, as we figure it out ourselves,
see:
   
  http://psr.shabsin.com

This year in particular we would appreciate a prompt RSVP as to whether
you expect to attend, even if you need to fill out the rest of the RSVP
form later.  We need a final count for Purity Spring sooner than we
would have expected.

We also have a Discord server!  We'll use is during the weekend to
make announcments and coordinate, say, trips to the lake..  Before
then you can keep an eye on the planning process, contribute opinions,
or just hang out. Come say hi!: {{.Env.DISCORD_URL}}

We hope you can join us for Labor Day Weekend!  It should be a lot of fun
and the company will be the best part. 

Chris, Dana, Lydia & Max
{{end}}


{{define "initial_invitation_html"}}

<div style="width:40em">
<p>Dear {{CollectiveAddressFirstNames .Invitation.InviteePeople 0}},</p>

<p>
Many years ago, we got married at Purity Spring Resort in East Madison,
NH, and we had such a great time that we decided to make the easy part
(i.e. not the wedding) a recurring event.  Please join us for our
annual summer retreat over Labor Day Weekend, from Friday August 30th -
Monday September 2nd!
</p>

<p>
You are invited to spend the weekend with us relaxing and having fun, 
whatever that means to you.  We predict that there will be fun people,
board games, swimming, dancing, jigsaw puzzles, hiking, crafting,
campfires, and beautiful scenery.  The rest is up to you!
</p>

<p>
Because our retreat is happening over the holiday weekend, we expect
most people will stay from Friday through Monday.  Purity Spring requires
a minimum 2-night stay, so if you need to you can also stay Friday-Sunday
or Saturday-Monday.
</p>

<p>
We will be going up Thursday night and taking the kids to Story Land on
Friday, when the Somerville Public Schools mysteriously have the day off.
You are welcome to join us!  Purity Spring will also honor our room rates
for 2 nights before and 2 nights days after our weekend (so August 28 -
September 4).
</p>

<p>
The cost for the weekend will include:
<ul>
<li>your room</li>
<li>access to resort amenities, like our common rooms and kitchen, the beaches and lake, and the pool</li>
<li>lunches and dinners</li>
</ul>
</p>

<p>
A lot of factors go into the cost of the weekend, so we put a (pretty
rough) cost estimator on the RSVP form.
</p>

<p>
If you're not coming because of the cost, please let us know.
</p>

<p>
We want everyone to feel safe and enjoy themselves for the weekend, so
we will require daily COVID testing.  We do not plan to take any other
COVID precautions.  See the RSVP form for full details on the COVID plan.
</p>


<p>Let us know if you can join us. To RSVP, go to</p>

<p><a href="{{.LoginLink}}">{{.LoginLink}}</a></p>

<p>For more information on this weekend, as we figure it out ourselves, see:</p>
   
<p><a href="http://psr.shabsin.com">http://psr.shabsin.com</a></p>

<p>
This year in particular we would appreciate a prompt RSVP as to whether
you expect to attend, even if you need to fill out the rest of the RSVP
form later.  We need a final count for Purity Spring sooner than we
would have expected.
</p>

<p>
We also have a Discord server!  We'll use is during the weekend to
make announcments and coordinate, say, trips to the lake..  Before
then you can keep an eye on the planning process, contribute opinions,
or just hang out. <a href="{{.Env.DISCORD_URL}}">Come say hi!</a>
</p>

<p>
We hope you can join us for Labor Day Weekend!  It should be a lot of fun and the company will
be the best part. 
</p>

<p style="margin-top:30px">Chris, Dana, Lydia & Max</p>
</div>
{{end}}

