

/* Colors:
    dark red:     #990000
    lighter red:  #bb0000
    blue:         #009933
    dark beige:   #e6c0d8
    light beige:  #ffeff9
    mid beige:    #ffd5ef
    mid beigh 2:  #f6e3ec
    light blue:   #eff9ff

    wedding blue background: #CDE9FA
    wedding purple text: #4F0463

  Derived from: http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/
*/

@font-face { font-family: 'LMRoman'; src: url('/media/fonts/lmroman9-regular.otf'); }
@font-face { font-family: 'LMRoman'; src: url('/media/fonts/lmroman9-bold.otf'); font-weight: bold; }
/*@font-face { font-family: 'LMRoman'; src: url('/media/fonts/lmroman9-bolditalic.otf'); font-weight: bold; font-style: italic; } */
@font-face { font-family: 'LMRoman'; src: url('/media/fonts/lmroman9-italic.otf'); font-style: italic; }


body {
    margin:0;
    padding:0px 30px;
    color:      #1F1497;
    background-color: #EEEEEE;
    /* background: #FAF4E2; */
    /* font-family: LMRoman, georgia, new york,serif; */
}

html {
    margin:0;
    padding:0;
}


#header {
    padding:5px 10px;
    border-bottom:1px solid  #1F1497;
    margin: 10px 0px;
    text-align: left;
    width: 100%;
}

#headerLinks {
    display: inline-block;
    max-width: 100%;
}

#headerLinks div {
    padding-right: 50px;
    font-weight: bold;
    display: inline-block;
}

#logoutLink {
    float: right;
    text-align: right;
    font-weight: bold;
    display: inline-block;
}

 a:link    { color: #1f1497; }
 a:visited { color: #1f1497; }
 a:active  { color: #1f1497; }
 a:hover   { color: #444444; }


#email {
	border: 1px solid #1f1497;
	margin: 20px;
	padding: 5px;
	color: black;
	background: white;
}

#headerEmail {
	border: 1px solid #ddd;
	padding: 5px;
	margin: 5px;
}

#textEmail {
	border: 1px solid #ddd;
	font-family: monospace;
	padding: 5px;
	margin: 5px;
}

#htmlEmail {
	border: 1px solid #ddd;
	padding: 5px;
	margin: 5px;
}

textarea {width:100%}

table.listTable{margin:20px; border-collapse: collapse}
table.listTable td{padding:5px; vertical-align:top; border-top:1px solid #1F1497; border-bottom:1px solid #1F1497;}

table.formtable {margin:20px}
.formtable td{padding:5px 0px;vertical-align:top}

.addressField {width:150px;}
.freeformTextField {width: 450px;height: 150px}

.rideSharingOptions {
    margin:10px 0px;
}

.drivingSelect {
    margin-top:10px;
}

.activityInput {
    width:25px;
}

.activityDescription {
    padding-left:10px
}

.emphasizedSubmit{
    width:100px;
    height:50px;
    font-size:150%;
    border-radius:10px;
    margin-top:30px;
}

input[type="checkbox"] {margin:7px}
input[type="radio"] {margin:7px}
input[type="button"] {color: #1F1497;}
input[type="submit"] {background-color: #1F1497; color: #EEEEEE;}


.listUpArrow {vertical-align:top;}
.listUpArrow img {
    width:20px;
    height:20px;
}

.listDownArrow {vertical-align:top;}
.listDownArrow img {
    width:20px;
    height:20px;
    transform:rotate(180deg);
}

.inviteeTable td {
    padding: 10px 5px;
}

.inviteeTable .formTable td {
    padding:0px 5px;
}

.hidden {
    display: none;
}

.invitationPersonHeading {
    font-size: 18px;
    font-weight: bold;
}

.invitationPersonalInfoLink {
    font-size:smaller;
    display:inline-block;
    font-weight:lighter;
    margin-left:30px;
}

.invitationPersonalInfoLink a:hover{    color:      #1F1497;}

.food {padding: 20px;}
.personal {padding: 20px;}

.inputHighlight{color: red}

.rsvpStatus {margin-left:25px}

.rsvpHousing td {
    vertical-align: top;
}

.rsvpHousing td select {
    margin: 0px 20px 20px 0px;
}

.rsvpHousing td textarea {
    margin-top: 15px;
}

.lodgingFormContainer {
    margin-top:30px;
}

.rideFormContainer textarea {
    margin-top: 15px;
    display: block;
}

.personSupplementaryInfo {
    border: 1px solid #1F1497;
    margin: 10px 0px 0px 30px;
}

.newPersonContainer {
    margin: 10px 0px;
}

.newPersonContainer input:nth-of-type(1) {
    margin-right: 30px;
}


#newPersonCollectionContainer {
    margin: 40px 0px 20px 0px;
}

.newPersonInstructionsSingular, .newPersonInstructionsPlural {
    margin-top:20px;
    margin-bottom:20px;
}

.addNewPersonButton {
    font-size: 120%;
}

.allDrivers {
    margin-top:20px;
}

.anyAttendeesContainer textarea {
    margin-top:15px;
}

.invitationCloser {
    margin-top:30px;
}
.activityHeader {
    margin: 20px;
}

.activityTable {
    margin: 0px 0px 40px 40px;
}
.activityTable td {
    border-collapse: collapse;
    padding: 0px;
}

.activityTable input[type="radio"] {
    padding: 0px;
}

.activityTable .leader {
    padding-left: 25px;
    text-align:center;
}

.ranking {
    width:75px;
    text-align: center;
}