{{define "final_subject"}}
  Final Information for Purity Spring Retreat Weekend
{{end}}

{{define "final_text"}}Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},

Our summer weekend retreat is almost here! We're looking forward to seeing all of you up at Purity
Spring.

Some last nuts and bolts:

Rides: If you need a ride to the weekend and don't have one yet, let us know ASAP (hit reply right
now).

  -- Passengers: You should have already received another email from us with your ride assignment.
  -- Drivers: if you have not already heard from us, we are not expecting you to take other
              passengers.

We have one person who needs a ride home on Sunday.  If you have room for a passenger and wouldn't
mind stopping in Wellesley on your way home, let us know.

{{if .Invitation.Thursday -}}
Thursday Dinner: One option for Thursday dinner is Purity Spring Resort's lobster bake 
(https://www.purityspring.com/dining/summer-lobster-bakes/). If you want dinner at the lobster bake
(even if you don't want lobster), you need to reserve a spot in advance.  If you haven't yet done
so, call Purity Spring NOW (by 5pm 8/24) at 603-367-8896, press 0 for the front desk, and
tell them what you'd like at the lobster bake Thursday night.

{{end -}}
Late Check-In: If you will be arriving after 8pm, the check in desk will be closed. Call Purity
Spring (603-367-8896) before they close and let them know that you will be arriving late. You can
either have the desk hold your key and leave it in the mailbox to the right of the door of The
Mill, or we can pick it up for you and hold it in the common room. Please let us know if you're
going to be arriving late (so we don't panic), and tell us if you need us to pick up your key.

COVID-19: Please get a recent clean test result before coming to the event.

Masks will be required in the main common space. There will be a secondary common space where
masks will be optional. In this space, we still recommend maintaining social distance between
activities.

There are picnic tables behind King Pine. Please eat outdoors when possible.

Food: Due to a) large cost increases over previous years and b) the pandemic making shared food a
little more dodgy, food will work differently this year.

For Saturday lunch we'll have a barbecue catered by Purity Spring.  All other meals will be opt-in
orders from local restaurants. You can already sign up: https://tinyurl.com/psr2021-food

If a particular meal doesn't look appetizing, there is a limited takeout menu from the on-site
restaurant. In a pinch, there are plenty of other restaurants nearby.

You are also welcome to bring your own food.  Every room has a minifridge, microwave, and
coffeemaker.  People also often bring snacks to share.

If it is easy for you, consider bringing a reusable set of dishes for every member of your
family, clearly labeled with their name. If this is not completely trivial, don't worry, we'll
still bring disposables and sharpies.  But this seems like a good year to not accidentally drink
out of someone else's cup.

Please be aware that no outside alcohol is permitted at this weekend. If you would like a drink
sometime, alcohol is available in Traditions Restaurant in the Main Inn
(map: https://tinyurl.com/psr2021-map).

Help: Since each meal requires a lot more coordination than we're used to, we need help!  If you
have some extra time and energy (possibly a tall order almost 18 months into the global pandemic)
consider coordinating/ordering a meal, picking up a meal or signing up for another task to keep
everything running smoothly.  We already have a lot of great volunteers, but more are needed.
Sign up here: https://tinyurl.com/psr2021-help

Communication with the Outside World: Cell signal is (at most) pretty flaky at PSR. Expect your phone
to suck up a lot of battery if you leave it on. If you want to make sure that someone can reach you
by phone in an emergency, give them Purity Spring's main number, 1-800-373-3754, and tell them that
you are with the Scott/Shabsin party at The Lodges. All of the buildings have reasonably reliable
wifi. If you really need to call out, find someone with a laptop and Google Voice (like Dana or
Chris).


Directions: Purity Spring Resort is located at:

1251 Eaton Road (NH 153)
East Madison, NH 02849
1-800-373-3754
http://www.purityspring.com/

Because cell signal is so poor in the mountains, make sure you know where you are going before you
leave home -- or at least before you leave more populated areas on your way up.

At least one person from each room will need to check in in The Mill.  Coming from the south, it
is one of the first buildings you will pass and it will be on your right. It is a gray building
with lots of windows and there is a sign that says "The Mill" out front. If you pass Purity Lake on
the right, you have gone too far. Park in the lot at The Mill and check in.  If you are not
traveling with your roommates, the first person to arrive can pick up all the keys if you like.

{{with .RoomingInfo}}{{$MultiRoom := (gt (len .InviteeBookings) 1)}}
{{- if $MultiRoom}}Your rooms:{{else}}Your room:{{end}}
{{range .InviteeBookings}}
  {{- if $MultiRoom}}  {{CollectiveAddressFirstNames (DerefPeople .Roommates) 0}}:
{{end}}
{{- if .Building}}    {{.Building.Name}}, room {{.Room.RoomNumber}}
{{end}}
{{- if gt (len .RoomSharers) 0}}  with:
  {{- range .RoomSharers}}
    {{SharerName .}}
{{end}}
{{end}}{{end}}{{end}}

Once you have checked in, get back in your car and continue north on Eaton Road.

Our building, King Pine, is about half a mile north of the Mill.  It is a long, low building on
the right and there is a sign out front that reads "Purity Spring Resort / King Pine / Guest
Rooms / Trailsend Tavern / Evergreen Room."  All of our rooms are in this building.  Rooms
151-160 are in the north half of the building (farther from The Mill); rooms 161-170 are in the
south half (closer to The Mill).  Our common room, the Fireplace Room, is on the lower level at
the north end of the building. We also have access to the reception hall in the south end of the
building, starting at 3pm on Friday.

All of the places you need to know about are marked on our map: https://tinyurl.com/psr2021-map


Other Resort-Related Miscellanea: Check in time is 3pm. Some rooms may be ready earlier. If you
arrive before your room is ready, feel free to hang out in the common rooms or enjoy the resort
amenities. We plan to arrive around 1 or 2 on Thursday.

Admission to the indoor pool, hot tub and fitness center are included in the cost for the weekend.
These are located in The Mill (map: https://tinyurl.com/psr2021-map ), the building where you
checked in.


What to Pack: Forecast is between 70-90F with not much chance of rain all weekend. Yay! That's good,
because we want to encourage people to spend more time outside this year than usual.

Please be aware that it is tick season. Be prepared! We will bring some bug spray and a tick remover
and rubbing alcohol. Remember to check yourself and your children when you come in from outside.

We will have plenty of sunscreen and some insect repellent available for communal use. If you are
traveling a long distance or don't intend to spend a lot of time outside you should be fine with our
supply, but if you have a large family and/or intend to spend the weekend mostly outdoors you may
wish to bring your own.

Annual plea: jigsaw puzzles have traditionally been very popular at this weekend!  But we only own
a few.  So, if you feel like doing puzzles, please bring some!

In order to give us a little more space to spread out due to Covid, PSR has comped us the use of
their ballroom from Friday afternoon through Sunday.  If you want to dance (whatever that means to
you), we’ll have space for it.  Bring what you need.

Please please please label anything that you intend for communal use with your name so that we can
be sure it gets back to you.

Don't forget:

swimsuit
beach towel (PSR provides bath towels and pool towels)
sunscreen and bug spray unless you intend to use the communal supply
outdoor toys
games you want to play 
boots and appropriate clothes if you intend to hike
snacks
a flashlight if you expect to be outside after dark
chargers for any electronics you bring
a blanket/beach chair for sitting outside
non-disposable cups & dishes
jigsaw puzzles
activities you think are fun!


As always, you can find more information about our event, or change your profile information or
rsvp, on our event website: {{.LoginLink}}

If you have any questions or concerns, please let us know. We can't wait to see you all in just
a few days!



Dana & Chris
{{end}}

{{define "final_html"}}
<p>Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},<p>

<p>Our summer weekend retreat is almost here!  We're looking forward to seeing all of you up at Purity Spring.</p>

<p>Some last nuts and bolts:</p>

<h3>Rides</h3>
<p>If you need a ride to the weekend and don't have one yet, let us know ASAP (hit reply <b>right now</b>).</p>

<p>
Passengers: You should have already received another email from us with your ride assignment.<br>
Drivers: if you have not already heard from us, we are not expecting you to take other passengers.
</p>

<p>We have one person who needs a ride home on Sunday.  If you have room for a passenger and wouldn't mind stopping in Wellesley on your way home, let us know.</p>

{{if .Invitation.Thursday}}
<h3>Thursday Dinner</h3>
<p>One option for Thursday dinner is PSR's <a href="https://www.purityspring.com/dining/summer-lobster-bakes/">lobster bake</a>.  If you want dinner at the lobster bake (even if you don't want lobster), you need to reserve a spot in advance.  If you haven't yet done so, call Purity Spring <b>NOW</b> (by 5pm 8/24) at 603-367-8896, press 0 for the front desk, and tell them what you'd like at the lobster bake Thursday night.</p>
{{end}}

<h3>Late Check-In</h3>

<p>If you will be arriving after 8pm, the check in desk will be closed. Call Purity Spring (603-367-8896) before they close and let them know that you will be arriving late. You can either have the desk hold your key and leave it in the mailbox to the right of the door of The Mill, or we can pick it up for you and hold it in the common room. Please let us know if you're going to be arriving late (so we don't panic), and tell us if you need us to pick up your key.</p>

<h3>COVID-19</h3>

<p>Please get a recent clean test result before coming to the event.</p>

<p>Masks will be required in the main common space. There will be a secondary common space where masks will be optional. In this space, we still recommend maintaining social distance between activities.</p>

<p>There are picnic tables behind King Pine. Please eat outdoors when possible.</p>

<h3>Food</h3>

<p>Due to a) large cost increases over previous years and b) the pandemic making shared food a little more dodgy, food will work differently this year.</p>

<p>For Saturday lunch we'll have a barbecue catered by Purity Spring.  All other meals will be opt-in orders from local restaurants. You can already sign up: <a href="https://tinyurl.com/psr2021-food">signups</a></p>

<p>If a particular meal doesn't look appetizing, there is a limited takeout menu from the on-site restaurant. In a pinch, there are plenty of other restaurants nearby.</p>

<p>You are also welcome to bring your own food.  Every room has a minifridge, microwave, and coffeemaker.  People also often bring snacks to share.</p>

<p>If it is easy for you, consider bringing a resuable set of dishes for every member of your family, clearly labeled with their name.  If this is not completely trivial, don't worry, we'll still bring the red solo cups and the sharpies.  But this seems like a good year to not accidentally drink out of someone else's cup.</p>

<p>Please be aware that no outside alcohol is permitted at this weekend.  If you would like a drink sometime, alcohol is available in Traditions Restaurant in the Main Inn (<a href="https://tinyurl.com/psr2021-map">map</a>).</p>

<h3>Help!</h3>

<p>Since each meal requires a lot more coordination than we're used to, we need help!  If you have some extra time and energy (possibly a tall order almost 18 months into the global pandemic) consider coordinating/ordering a meal, picking up a meal or signing up for another task to keep everything running smoothly.  Sign up here: <a href="https://tinyurl.com/psr2021-help">signups</a>.</p>

<h3>Communication with the Outside World</h3>
<p>Cell signal is (at most) pretty flaky at PSR.  Expect your phone to suck up a lot of battery if you leave it on.  If you want to make sure that someone can reach you by phone in an emergency, give them Purity Spring's main number, 1-800-373-3754, and tell them that you are with the Scott/Shabsin party at the Lodges.  All of the buildings have reasonably reliable wifi.  If you really need to call out, find someone with a laptop and Google Voice (like Dana or Chris).<p>

<h3>Directions</h3>
<p>Purity Spring Resort is located at:<br><br>

1251 Eaton Road (NH 153)<br>
East Madison, NH   02849<br>
1-800-373-3754<br>
<a href="http://www.purityspring.com">http://www.purityspring.com/</a>
</p>

<p>Because cell signal is so poor in the mountains, make sure you know where you are going before you leave home -- or at least before you leave more populated areas on your way up.</p>

<p>At least one person from each room will need to check in in The Mill.  Coming from the south, it is one of the first buildings you will pass and it will be on your right.  It is a gray building with lots of windows and there is a sign that says "The Mill" out front. If you pass Purity Lake on the right, you have gone too far. Park in the lot at The Mill and check in.  If you are not traveling with your roommates, the first person to arrive can pick up all the keys if you like.</p>

{{with .RoomingInfo}}
<div style="margin:20px">
  {{$MultiRoom := (gt (len .InviteeBookings) 1)}}
  {{if $MultiRoom}}
    <strong>Your rooms:</strong><br>
  {{else}}
    <strong>Your room:</strong><br>
  {{end}}
  <div style="display:inline-block;margin-bottom:0px">

  {{range .InviteeBookings}}
  <div style="margin:10px 0px 15px 20px">
    {{if $MultiRoom}}
      {{CollectiveAddressFirstNames (DerefPeople .Roommates) 0}}:
    {{end}}
    {{if .Building}}
      <b>{{.Building.Name}}, room {{.Room.RoomNumber}}</b>
    {{end}}
    {{if gt (len .RoomSharers) 0}}
      with:<br>
      <div style="margin-left:20px">
      {{range .RoomSharers}}
        {{SharerName .}}<br>
      {{end}}
      </div>
    {{end}}
  </div>
  {{end}}
</div>
</div>
{{end}}

<p>Once you have checked in, get back in your car and continue north on Eaton Road.</p>

<p>Our building, King Pine, is about half a mile north of the Mill.  It is a long, low building on the right and there is a sign out front that reads "Purity Spring Resort / King Pine / Guest Rooms / Trailsend Tavern / Evergreen Room."  All of our rooms are in this building.  Rooms 151-160 are in the north half of the building (farther from The Mill); rooms 161-170 are in the south half (closer to The Mill).  Our common room, the Fireplace Room, is on the lower level at the north end of the building. We also have access to the reception hall in the south end of the building, starting at 3pm on Friday.
</p>

<p>All of the places you need to know about are marked on our <a href="https://tinyurl.com/psr2021-map">map</a>.</p>

<h3>Other Resort-Related Miscellanea</h3>
<p>Check in time is 3pm.  Some rooms may be ready earlier.  If you arrive before your room is ready, feel free to hang out in the common rooms or enjoy the resort amenities.  We plan to arrive around 1 or 2 on Thursday.</p>

<p>Admission to the indoor pool, hot tub and fitness center are included in the cost for the weekend.  These are located in The Mill (<a href="https://tinyurl.com/psr2021-map">map</a>), the building where you checked in. </p>

<h3>What to Pack</h3>
<p>Forecast is between 70-90F with not much chance of rain all weekend.  Yay! That’s good, because we want to encourage people to spend more time outside this year.</p>

<p>Please be aware that it is tick season.  Be prepared!  We will bring some bug spray and a tick remover and rubbing alcohol.  Remember to check yourself and your children when you come in from outside.</p>

<p>We will have plenty of sunscreen and some insect repellant available for communal use.  If you are traveling a long distance or don't intend to spend a lot of time outside you should be fine with our supply, but if you have a large family and/or intend to spend the weekend mostly outdoors you may wish to bring your own.</p>

<p>Annual plea: jigsaw puzzles have traditionally been very popular at this weekend!  But we don't own any.  So, if you feel like doing puzzles, please bring some!</p>

<p>In order to give us a little more space to spread out due to Covid, PSR has comped us the use of their ballroom from Friday afternoon through Sunday.  If you want to dance (whatever that means to you), we’ll have space for it.  Bring what you need.</p>

<p>Please please please label anything that you intend for communal use with your name so that we can be sure it gets back to you.</p>

<p>Don't forget:</p>
<p>swimsuit<br>
beach towel (PSR provides bath towels and pool towels)<br>
sunscreen and bug spray unless you intend to use the communal supply<br>
outdoor toys<br>
games you want to play <br>
boots and appropriate clothes if you intend to hike<br>
snacks<br>
a flashlight if you expect to be outside after dark<br>
chargers for any electronics you bring<br>
a blanket/beach chair for sitting outside<br>
non-disposable cups &amp; dishes<br>
jigsaw puzzles<br>
activities you think are fun!<br>
</p>



<p style="margin-top:20px;">As always, you can find more information about our event, or change your profile information or rsvp, on our <a href="{{.LoginLink}}">event website</a>.</p>

<p style="margin-bottom:30px">If you have any questions or concerns, please let us know.   We can't wait to see you all in just a few days!</p>


Dana & Chris
{{end}}
