{{define "rooming_and_costs_subject"}}
  {{if gt (len .Unreserved) 0}}
    Please reserve your room at Purity Spring Resort!
  {{else}}
    Your room assignment for Purity Spring Resort
  {{end}}
{{end}}

{{define "rooming_and_costs_text"}}Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},


Our Purity Spring weekend is coming up fast! (Yikes!){{if gt (len .Unreserved) 0}} It's time to reserve your room.{{end -}}

{{- template "roomingAndCosts_text" .RoomingInfo}}
If you foresee any problem with your rooms, let us know.  We're happy to answer
any questions.  Rooming has been particularly excruciating this year, so thank 
you all for your patience, flexibility and squishiness.

Because assigning rooms was so difficult this year, we are right up against our
deposit deadline, so we'd appreciate it if you could book your rooms as soon as
possible.

As always, you can update your rsvp or profile on our event website: 

  {{.LoginLink}}

We can't wait to see you in New Hampshire!


Chris, Dana, Lydia & Max
{{end}}

{{define "rooming_and_costs_html"}}
<p>Dear {{CollectiveAddressFirstNames .Invitation.GetPeopleComing 0}},<p>


<p>Our Purity Spring weekend is coming up fast! (Yikes!){{if gt (len .Unreserved) 0}} It's time to reserve your room.{{end}}</p>

 {{template "roomingAndCosts_html" .RoomingInfo}}

<p>If you foresee any problem with your rooms, let us know.  We're happy to answer any questions.  Rooming has been particularly excruciating this year, so thank you all for you patience, flexibility and squishiness.</p>

<p>Because assigning rooms was so difficult this year, we are right up against our deposit deadline, so <strong>we'd appreciate it if you could book your rooms as soon as possible.</strong></p>

<p>As always, you can <a href="{{.LoginLink}}">update your rsvp or profile</a> on our event website.

<p>We can't wait to see you in New Hampshire!</p>

<div style="margin-left:30px;margin-top:20px">Chris, Dana, Lydia & Max</div>

  </div>
</div>
{{end}}
