<script type="text/JavaScript" src="../media/jquery-3.3.1.min.js"></script>
{{template "main.html" .}}
{{define "body"}}
{{$photoDirectory := "media/PSR2021/photos"}}
<script>
  $(document).ready(function () {

    $(".headerMainPicture img")
      .mouseover(function () {
        $(this).attr("src", "{{$photoDirectory}}/group-2017-silly.jpg");
      })
      .mouseout(function () {
        $(this).attr("src", "{{$photoDirectory}}/group-2017-normal.jpg");
      });
  })

</script>
<div class="headerPictures">
  <div class="headerSidePicture"><img src="{{$photoDirectory}}/campfire.jpg" /></div>
  <div class="headerMainPicture"><img src="{{$photoDirectory}}/group-2017-normal.jpg" /></div>
  <div class="headerSidePicture"><img src="{{$photoDirectory}}/concept.jpg"></div>
</div>

<div class="bottom">
  <div class="sidebarPictures">
    <img src="{{$photoDirectory}}/jigsaw_puzzle.jpg" />
    <img src="{{$photoDirectory}}/group-jumping.jpg" />
    {{if .LoginInfo.Person}}
    <img src="{{$photoDirectory}}/SingingGroup.jpg" />
    <img src="{{$photoDirectory}}/group-hiking.jpg" />
    <img src="{{$photoDirectory}}/archery.jpg" />
    <img src="{{$photoDirectory}}/Shenanigans.jpg" />
    {{end}}
  </div>

  <div class="homeMain">
    <div class="textHeader">
      <h1 class="textHeaderTitle">Summer Retreat</h1>
      <h2 class="textHeaderPlace">at Purity Spring Resort</h2>
      <h2 class="textHeaderDate">August 26-29, 2021</h2>
    </div>
    <div class="mainContent">
      <p> Nine years ago we invited some of our friends and family up into the mountains of New Hampshire to hang out
        for the weekend while we got married. We had so much fun that we're doing it again and skipping the wedding
        part!
      </p>

      {{if not .LoginInfo.Person}}
      <p>For more information, click on the link in your invitation to log in. Can't find the email? <a
          href="login">Fetch your login information.</a></p>
      <!-- <p style="font-size:150%">Yes, this is happening!  Save the date!  Email invitations will be going out soon.</p> -->
      {{else}}
      <p>
	This year our retreat will run from Thursday, August 26th until Sunday, August 29th. Most structured activities
        will happen between Friday evening and Sunday night. We expect that there will be a small group Thursday night
	and many more people around Friday - Sunday.
      </p>

      <p>
	Yes, we are having a large social event during a pandemic!  If you can be vaccinated and have chosen not to, 
	we ask that you stay home this year.  We're not sure yet what other precautions we'll need to take, and we'll
	determine that closer to the event based on local case counts, vaccination rates, and the preferences of those
	attending.
      </p>

      <p>
	Our goal is to provide a framework for you to have the kind of weekend that would be most fun for you, whether
        that means hiking and swimming, playing board games and doing jigsaw puzzles, or sitting in a quiet pretty place
        with a book. If you would like to run an activity, let us know if there is any support you need from us or from
        Purity Spring.
      </p>

      <p>
	This year, the cost for the weekend is calculated per room, rather than per person as it has been in the past. 
	The cost per night per room is about $265, and you have a choice between a two-night stay (Friday to Sunday, 
	about $530), or a three-night stay (Thursday to Sunday, about $795).  We know that this is way more expensive 
	than normal, but we're also getting much nicer rooms than usual.  If the cost of the weekend is what's preventing 
	you from attending, let us know.
      </p>

      <p>
	If you'd like to attend, fill out our <a href="rsvp">RSVP form.</a> 
      </p>


      <p style="margin-top:30px;">
	We hope to see you in August! <a href="rsvp">Let us know</a> if you can join us &ndash;
        you can always use the link at the top of this page. Please <a href="mailto:shabsinscott@gmail.com">email us</a>
        if you have any concerns or questions.
      </p>

      {{end}}

    </div>
  </div>
</div>


{{end}}
