{{template "main.html" .}} 
{{define "body"}}
<div style="margin-left: 50px; max-width:800px">

<style>
h3 {
    margin-top: 45px;
}
</style>

<h1>Special Information for 2021</h1>

<h2>2021-08-16</h2>

Less than two weeks to the event! Here's some info you'll need.

<h3 style="margin-top: 30px">To Do Right Now</h3>

<p><strong>TL;DR: We need you to do a few things right now</strong> :</p>

<ul>
  <li>
    Start thinking about what food you would like for the weekend. The
    <b><a href="https://docs.google.com/spreadsheets/d/1FIuuFTFFB1LrMMOg3_IuHZGJlD7Sh_0vbHsI0FmdfQA/edit?usp=sharing">sign up</a></b>
    sheet has some details, and there are more details below.
  </li>
  <li>If you are joining the Thursday night
    <a href="https://www.purityspring.com/dining/summer-lobster-bakes/">lobster bake</a>,
    be sure to make reservations by <b>Tuesday, August 24</b>.
  </li>
  <li>
    Look at the
    <b><a href="https://docs.google.com/spreadsheets/d/19TMxWBWTaJbkfZeNFIMwWXFdAoewbxRRRpKjW33lAd0/edit?usp=sharing">helper spreadsheet</a></b>
    and see if you're up for any tasks.
  </li>
  <li>
    Arrange to get a COVID test early enough that you will have results before
    arriving at PSR.
  </li>
  <li>
    Consider what fun holiday traditions you have missed in the past year (see
    below).
  </li>
</ul>

<h3>Food</h3>

<p>
  Food at this year's event will be much more a la carte than it has been in the
  past. Food service prices at the resort have gone way up, and it seems wise to
  reduce the risk associated with sharing food between pods.
</p>
<p>
  For each meal we will organize a large group order from a local restaurant.
  This should make it easy to keep people's food individually packaged. For
  any meal where you're not interested in the restaurant we chose for the group
  order, there are
  <a href="https://docs.google.com/document/d/1QbpNXJftqqVD1s0udyO0YLRiiq7au7YCc6b-JxRti0g/edit">plenty of other options within a 20-minute drive</a>, 
  and also some on-site.
</p>
<p>
  Another option is to bring your own snacks and backup food. Every room has a
  minifridge, microwave, and coffee maker.
</p>
<p>There will be two meals with some buffet-style aspects to them:</p>
<ul>
  <li>
    Friday night we're getting pizza. When ordering pizza, you can either order
    by # of slices (and opt into the communal pool of pizza sharing), or order
    your own food (pizza or other - the restaurant actually has a lot of
    options) that will be kept separate.
  </li>
  <li>
    Saturday at lunch we're getting the resort to host the traditional cookout.
  </li>
</ul>

<p>One of the options for Thursday dinner is a Lobster Bake that Purity
Spring runs.  They have other options besides lobster.  The Lobster Bake
requires advance reservations. To reserve a spot at the Lobster Bake, you
need to make a reservation no later than Tuesday, 8/24 -- call 603-367-8896
and dial 0 for the front desk.</p>

<p>To help reduce confusion during the weekend, consider bringing a glass
or mug that is distinctive-looking and clearly labeled with your name. If
you're feeling extra waste-conscious, you could bring a plate and bowl too.
We will bring disposable dishes and silverware, but it would be nice not to
go through 600 red solo cups in the space of 4 days.</p>

<h3>Help!</h3>

<p>Between the food situation and the pandemic situation, the logistical
burden of running the weekend is much higher than normal.  If you can spare
some time and energy during the weekend, or if you have equipment you can
bring for us to share, we'd really appreciate it.</p>

<p>Please look at the
<a href="https://docs.google.com/spreadsheets/d/19TMxWBWTaJbkfZeNFIMwWXFdAoewbxRRRpKjW33lAd0/edit?usp=sharing">helper spreadsheet</a>
and see if you're up for any tasks.</p>

<h3>Pandemic</h3>

<p>It's hard to have a fun weekend if people don't feel safe.  As mentioned
the other day, we are taking several precautions:</p>

<ul>
  <li>
    We'd like everyone to get a negative COVID test result before coming up.
  </li>
  <li>
    We'll have tests on hand for anyone who needs one (to a point).
  </li>
  <li>
    We'd like everyone to keep masks on when in the common room (the
    "Fireplace Room").
  </li>
  <li>
    We'll try to eat meals outside as much as possible (weather permitting).
    There are several picnic tables just outside our building.
  </li>
  <li>
    We're working on getting some HEPA air purifiers to set up in the common
    room.
  </li>
</ul>

<p>We've gotten some questions about whether there will be space for people
who are comfortable being unmasked; we are attempting to convince PSR to give
us some space suitable for this purpose.</p>

<p>If you have COVID-related concerns that aren't addressed here, please let
us know.</p>

<h3>Rooming</h3>

<p>We have had a few cancellations since the initial rooming assignments went 
out, so we have had to move some people around. If this applies to you, 
we've probably already talked to you about it, unless the swap was mostly
unremarkable. We might need your help to move room reservations around to
make the resort's records match reality.</p>

<h3>Rides</h3>

We haven't forgotten about this; keep an eye out for email about this if you
told us you need a ride, or if you offered a ride.

<h3>A Pandemic's Worth of Holidays</h3>

<p>Christy had a suggestion.  She says,</p>

<div style="margin-left: 50px">

<p><em>Since we missed a whole year of shared holidays
due to the pandemic, maybe everyone could pick a favorite holiday and bring
something to share, whether it’s food (mooncakes, hamentaschen, birthday cake,
Halloween candy), or objects (New Years’ Eve noisemakers, non-scary April
Fools tricks), or an activity (paper hearts / markers / stickers to make
valentines).</em></p>

<p><em>This is mostly inspired by my desire to bring some baskets and bunny ears,
and hide plastic eggs all over the ski lodge.</em> &#x1f430;</p>

</div>

<p>We think this sounds like a great idea!  We hear there will be a tiny
Christmas tree to decorate, not necessarily with Christmas decorations.</p>

<p>If you have something you'd like to bring, you should feel free to share
it with us, but you should also feel free to surprise us.</p>

<h3>Closing</h3>

Congrats, you made it through the whole document! See you in ten days.

</div>
{{end}}
