{{template "main.html" .}}
{{define "body"}}
  <h1>Admin Functionality</h1>

  <h2>Reports</h2>
  <ul>
    <li><a href="rsvpReport">RSVP report</a>
    <li><a href="activitiesReport">Activity report</a>
   <li><a href="roomingReport">Rooming report</a>
   <li><a href="foodReport">Food report</a>
   <li><a href="ridesReport">Rides report</a>
  </ul>

  <h2>Tools</h2>
  <ul>
    <li><a href="sendMail">Send Email</a>
    <li><a href="rooming">Rooming Tool</a>
  </ul>

  <h2>Entities</h2>
  <ul>
    <li><a href="listPeople">People</a>
    <li><a href="invitations">Invitations</a>
  </ul>



{{end}}
