{{template "main.html" .}}
{{define "body"}}

<h1>Login Required</h1>

<p>{{.Message}}</p>

<p>Can't find your login link?  Enter your email address (the one we
have on file for you) to have the link resent.</p>

<form action="resendInvitation" method="POST">
  Email Address: <input type="text" name="emailAddress"/><p>
  <input type="submit" value="Resend Link"/>
</form>

Alternately, you can try a Google <a href="{{.LoginURL}}">login</a> for the email address associated
with your invitation to log in without needing the code.

{{end}}
