{{template "main.html" .}}
{{define "body"}}

<h1>Invitations for {{.CurrentEvent.ShortName}}</h1>
{{with .Stats}}
  {{.AdultCount}} adults<br>
  {{.BabyCount}} babies (0-3) <br>
  {{.KidCount}} kids (>3-10)<br>
  {{.TweenOrTeenCount}} Tweens/Teens (>10-16)<br>
  {{.UnknownKidCount}} Kids of Indeterminate Age<br>
  {{.UninvitedCount}} People Uninvited<br>
<br><Br>
{{end}}

<form action="copyInvitations" method="POST">
{{if not .RealizedInvitations}}Copy invitations from: 
  <select name="baseEvent">
    {{range .EventsWithKeys}}
      <option value="{{.Key}}">{{.Ev.ShortName}}</option>
    {{end}}
  </select>
  <input type="submit" value="Create"/>
 {{end}}
</form>

<form action="addInvitation" method="POST">
{{range .RealizedInvitations}}
<input type="radio" name="invitation" value="{{.EncodedKey}}">
<a href="viewInvitation?invitation={{.EncodedKey}}">{{ListInvitees .Invitees}}</a><br>
{{end}}

<h3>Not Invited to {{.CurrentEvent.ShortName}}</h3>

{{range .NotInvitedList}}
 <input name="person" type="checkbox" value="{{.Key}}"> {{.Person.FullName}}<br>
{{end}}
<input type="submit" value="Create/Add to Invitation">
</form>
{{end}}
