<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/media/style.css" />
    <link rel="stylesheet" href="/media/{{.CurrentEvent.ShortName}}/style.css" />
    <title>{{.CurrentEvent.Name}}</title>
    {{block "extrahead" .}}{{end}}
</head>

<body link="#ff9999" vlink="#9999ff" >
  <div>
    {{if (or .LoginInfo.Person .User)}}
      <div id="header">
        <div id="headerLinks">
	  {{if .IsAdminUser}}
	    {{/* Make this a link to a "reports" page eventually when we have more reports. */}}
	    <div><a href="/rsvpReport">RSVP Report</a></div>
	    <div><a href="/listPeople">People</a></div>
	    <div><a href="/invitations">Invitations</a></div>
	    <div><a href="/sendMail">Mail</a></div>
	  {{end}}
	  <div><a href="/">Home</a></div>
	  <div><a href="/rsvp">RSVP</a></div>
	  <div><a target="_blank" href="https://drive.google.com/open?id=1400euY4TSzjx1b2zsn5-Rt0I65U&usp=sharing">Site Plan/Directions</a></div>
	  <div><a target="_blank" href="http://www.purityspring.com">Purity Spring Resort</a></div>
        </div>
	<div id="logoutLink">
	  {{if .LoginInfo.Person}}Welcome, {{.LoginInfo.Person.GetFirstName 0}}!{{end}}
          {{if .LogoutLink}}
            <a href="{{.LogoutLink}}" id="login">Logout Admin</a>
          {{end}}
	</div>
      </div>
    {{end}}
    {{block "body" .}}Default Body{{end}}
  </div>
</body>
</html>
