{{template "main.html" .}}
{{define "body"}}

<h1>Receive Pay</h1>

{{if .RoomingInfo}}
     {{template "roomingInfo_html" .RoomingInfo}}
{{end}}

<form action="doReceivePay" method="POST">
    <input type="hidden" name="invitation" value="{{.Invitation.EncodedKey}}"/>
    Received pay: <input type="text" name="pay" value="{{.Invitation.Invitation.ReceivedPay}}"></input><p>
    Received pay date: <input type="text" name="pay_date" value="{{.Invitation.ReceivedPayDateStr}}"></input><p>
    Received pay method: <input type="text" name="pay_method" value="{{.Invitation.Invitation.ReceivedPayMethod}}"></input>
    <input type="submit" value="Update"></input>
</form>

{{end}}
