{{define "roomingAndCosts_html"}}
{{template "roomingInfo_html" .}}
{{template "costs_html" .}}
{{end}}

{{define "roomingInfo_html"}}

<div style="margin:20px">
  {{$MultiRoom := (gt (len .InviteeBookings) 1)}}
  {{if $MultiRoom}}
    <strong>Your rooms:</strong><br>
  {{else}}
    <strong>Your room:</strong><br>
  {{end}}
  <div style="display:inline-block;margin-bottom:0px">

  {{range .InviteeBookings}}
  <div style="margin:10px 0px 15px 20px">
    {{if $MultiRoom}}
      {{CollectiveAddressFirstNames (DerefPeople .Roommates) 0}}:
    {{end}}
    {{if .Building}}
      <b>{{.Building.Name}}, room {{.Room.RoomNumber}}</b>
    {{end}}
    {{if gt (len .RoomSharers) 0}}
      with:<br>
      <div style="margin-left:20px">
      {{range .RoomSharers}}
        {{SharerName .}}<br>
      {{end}}
      </div>
    {{end}}
  </div>
  {{end}}
</div>
</div>

{{- if gt (len .Unreserved) 1}}
<p>Please have one person from each room (the person you told us would call in) call Purity Spring at 603-367-8896, tell them you are with the Scott/Shabsin party of June 9-12, and ask to put down your deposit for:<p>
<div style="margin-left:20px">{{range .Unreserved}}
    {{.Building.Name}}, Room {{.Room.RoomNumber}}<br>{{end}}
</div>
  {{- else if gt (len .Unreserved) 0}}
<p>Please have one person (the person you told us would call in) call Purity Spring at 603-367-8896, tell them you are with the Scott/Shabsin party of June 9-12, and ask to put down your deposit for {{(index .Unreserved 0).Building.Name}}, room {{(index .Unreserved 0).Room.RoomNumber}}{{end}}{{- if gt (len .Unreserved) 1}}<p>{{else}} {{end -}}

for {{if .ThuFriSat}}Thursday to Saturday nights (6/9-6/12){{else}}Friday and Saturday nights (6/10-6/12){{end}}.</p>

They will have this information on file.  You will need to leave a deposit equal to one night's stay, and pay the balance when you check out.</p>
{{end}}

{{define "costs_html"}}
  <div style="margin:20px">
  <strong>Cost:</strong>
  <table style="margin:10px">
  {{$PersonToCost := .PersonToCost}}
  {{range $person := .OrderedInvitees}}
    <tr><td style="padding-right:25px">{{$person.FullName}}: </td><td style="text-align:right">{{index $PersonToCost $person | printf "$%.2f"}}</td></tr>
  {{end}}
  <tr><td style="padding-top:10px"><strong>Total Cost</strong></td><td style="padding-top:10px; text-align:right"><strong>${{.TotalCost | printf "%.2f"}}</strong></td></tr>
  {{if .Invitation.ReceivedPay}}
    <tr><td style="padding-top:10px"><strong>Received</strong></td><td style="padding-top:10px; text-align:right"><strong>${{.Invitation.ReceivedPay | printf "%.2f"}}</strong></td></tr>
  {{end}}
  </table>
</div>

{{end}}

{{define "roomingAndCosts_text"}}
{{template "roomingInfo_text" .}}
{{template "costs_text" .}}
{{end}}



{{define "roomingInfo_text"}}
{{$MultiRoom := (gt (len .InviteeBookings) 1)}}
{{- if $MultiRoom}}Your rooms:{{else}}Your room:{{end}}
{{range .InviteeBookings}}
  {{- if $MultiRoom}}  {{CollectiveAddressFirstNames (DerefPeople .Roommates) 0}}:
{{end}}
{{- if .Building}}    {{.Building.Name}}, room {{.Room.RoomNumber}}
{{end}}
{{- if gt (len .RoomSharers) 0}}  with:
  {{- range .RoomSharers}}
    {{SharerName .}}
{{end}}
{{end}}{{end}}

{{- if gt (len .Unreserved) 1}}
Please have one person from each room (the person you told us would call in) call Purity Spring
at 603-367-8896, tell them you are with the Scott/Shabsin party of June 9-12, and ask to put down
a deposit for:
{{range .Unreserved}}
    {{.Building.Name}}, Room {{.Room.RoomNumber}}{{end}}
{{- else if gt (len .Unreserved) 0}}
Please have one person per roon (the person you told us would call in) call Purity Spring
at 603-367-8896, tell them you are with the Scott/Shabsin party of June 9-12, and ask to put
down a deposit for:
{{(index .Unreserved 0).Building.Name}}, room {{(index .Unreserved 0).Room.RoomNumber}}{{end}}
{{- if gt (len .Unreserved) 1}}

{{else}} {{end -}}
for {{if .ThuFriSat}}Thursday to Saturday nights (6/9-6/12){{else}}Friday and Saturday nights (6/10-6/12){{end}}.

They will have this information on file.  You will need to leave a deposit equal
to one night's stay, and pay the balance when you check out.
{{end}}



{{define "costs_text"}}
Cost:
{{$PersonToCost := .PersonToCost}}
{{range $person := .OrderedInvitees}}{{(print "  "  $person.FullName ":") | printf "%-25s"}} {{index $PersonToCost $person | printf "%6.2f"}}
{{end}}
  Total Cost:             {{.TotalCost | printf "%.2f"}}

  {{if .Invitation.ReceivedPay}}Received:               {{.Invitation.ReceivedPay | printf "%.2f"}}{{end}}
{{end}}
