{{template "main.html" .}}
{{define "body"}}

    <script type="text/JavaScript" src="/media/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/media/rooming-editor.css">
    <script src="/media/rooming-editor.js"></script>

    <script>
      $(document).ready(function() {
        RoomingConfig.desiredMask = {{.DesiredMask}};
        RoomingConfig.acceptableMask = {{.AcceptableMask}};

        var invitationsToExplode = [
            {{range .InvitationsToExplode}}
                "{{.}}",
            {{end}}
        ];

        var bookingInfos = [
            {{range .BookingInfos}}
                {
                    roomString: "{{.RoomString}}",
                    roommates: [
                        {{range .Booking.Roommates}}
                            "{{.Encode}}",
                        {{end}}
                    ]
                },
            {{end}}
        ];

        initRoomingEditor(invitationsToExplode, bookingInfos);
      });
    </script>
  </head>
  <body>

  {{template "roomingEditorComponent.html" .}}
 
{{end}}
