{{template "main.html" .}}
{{define "body"}}


    <script type="text/JavaScript" src="/media/jquery-3.3.1.min.js"></script>
    <style>
      td{border:1px solid black;width:100px;height:100px;}
      .ThuFriSat{background-color: #5A0ABF; color: lightgray !important}
      .FriSat{background-color: #AA66FF}
      .Maybe{background-color: #D6ADF7}
      .NoRsvps{background-color: #EBD9FA}
      .roomProperties{display:none}
      .guestProperties{display:none}
      .guestKey{display:none}
      .constraintsNotMet{border: 3px solid red !important}
      .all{background-color: #76A6F5}
      .fs{background-color: #0761F2}
      .ss{background-color: #00FF00}
      .group{border:1px solid black; margin:3px; padding:2px;width:100px;height:auto;z-index:10; font-size:smaller;color:black}
      .group .group {border:0px; width:95px; margin:0px; padding:0px}
      .guestContainer{border:0px;}
      /* .booked{background-color:#CCCCCC;opacity:.2} */
      .typeHolder{margin:10px}
      .unassigned div.group{display:inline-block; position:relative}
      .unassigned .guestContainer .group{display:block}
      .guestContainer {display:inline-block}
      .exploder {float: right; position:absolute;top:0px; left:90; z-index:11}
      td{vertical-align:top}
      .building{display:inline-block;margin:0px 20px}
      .buildingWithImage{display:inline-block; position:relative}
      .buildingWithImage div{position:absolute}
      .buildingWithImage div div{position:static}
      img{opacity: .5}
      img.desaturate{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: url(desaturate.svg#greyscale);
      }
      .allBuildings{height:1000px}
      .building{width:350px;}
      .building img{opacity: .3}
  


/*
      .buildingWithImage > div:nth-child(2n) { background-color: #AA66FF; opacity:.3} 
      .buildingWithImage > div:nth-child(2n+1) { background-color: lightgreen; opacity:.3} 
*/
    </style>
    <script>

      function combineProperties(existing, next) {
          desired = (existing | next) & {{.DesiredMask}};
          acceptable = existing & next & {{.AcceptableMask}};
          return desired + acceptable;
      }

      function propertiesMatch(roomProperties, peopleProperties) {
          var desiredRoomProperties = roomProperties & {{.DesiredMask}};
          var desiredPeopleProperties = peopleProperties & {{.DesiredMask}};
          if ((desiredRoomProperties & desiredPeopleProperties) != desiredPeopleProperties) {
              return false;
          }
          var acceptableRoomProperties = roomProperties & {{.AcceptableMask}};
          var acceptablePeopleProperties = peopleProperties & {{.AcceptableMask}};
          return (acceptableRoomProperties & ~acceptablePeopleProperties) == 0;
      }

      function dropFromEvent(event) {
        event.preventDefault();
        drop(event.dataTransfer.getData('text'), $(event.target));
      }

      function drop(data, target) {
        var group = document.getElementById(data);
        $(target).append(group);

        var guestKeys = $(".guestKey", $(group));
        for (var i=0; i < guestKeys.length; i++) {
			  $("[name='roomingSlot_" + $(guestKeys[i]).text() + "']").val(target.attr("id"));
	}

        var properties = $(".guestProperties", target);
        var totalProperties = parseInt($(properties[0]).text())
        if (properties.length > 1) {
           for (var i=1; i<properties.length; i++) {
	      totalProperties = combineProperties(totalProperties, parseInt($(properties[i]).text()));
	   }
	}
	roomProperties = parseInt($(".roomProperties", $(target)).text());
        if (propertiesMatch(roomProperties, totalProperties)) {
	    $(group).removeClass("constraintsNotMet");
	} else {
	    $(group).addClass("constraintsNotMet");
        }	   
      }
      
      function allowDrop(ev) {
        ev.preventDefault();
      }
      
      function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
      }

      function recordRoom(ev, entityId, isGuest) {
        var room = $($(ev.target)[0]).parent()[0].id;
        if (isGuest) {
          $('[name=room_assignment_guest' + entityId + ']').val(room);
        } else {
          $("#inv" + entityId + " .guest").each(function(index, g) {
            var guestId = parseInt($(g).attr("id").substring(5));
            $('[name=room_assignment_guest' + guestId + ']').val(room);
          });
        }      
      }

      function explodeInvitee(groupId) {
        $("#" + groupId) .removeClass();//.addClass("guestContainer");
        $("#" + groupId + " .exploder").remove();
        $("#" + groupId).attr("draggable", "false").attr("ondragstart", "").attr("ondragend", "");     
        $("#" + groupId + " .guest").attr("draggable", "true").attr("ondragstart", "drag(event)");
	$("#" + groupId + " .guest").addClass("groupContainer")
      }


      $(document).ready(function() {

     {{range .InvitationsToExplode}}
	  var parent = $("#guest_{{.}}").parent();				    
          $(".exploder", parent).click();
     {{end}}
     {{range .BookingInfos}}
	{{$roomString := .RoomString}}				    
	{{range .Booking.Roommates}}
           var group = $("#guest_{{.Encode}}").closest(".groupContainer");
	   var target = $("#{{$roomString}}");
   	   target.append(group);
	   drop($(group).attr("id"), target)
        {{end}}
     {{end}}
    
      // binding with jquery --> $!#$!@#$!%@
//      $(".buildingWithImage div").bind("dragover", function(ev) {allowDrop(ev);});
//      $(".buildingWithImage div").bind("drop", function(ev) {drop(ev);});
      $(".floorplanLink").bind("mouseover", 
          function() {
              var parent = $(this).parent(); 
              parent.find("img").css("opacity",1.0);
              parent.find("div").css("opacity", .3);
 	      parent.find(".roomLabel").css("visibility", "hidden");
          });
      $(".floorplanLink").bind("mouseout", 
          function() {
	      var parent = $(this).parent(); 
              parent.find("img").css("opacity",.5);
              parent.find("div").css("opacity", 1);
 	      parent.find(".roomLabel").css("visibility", "visible");
          });

      });
    </script>
  </head>
  <body>

  <div class="allBuildings">

  {{$buildingsToRoomsMap := .BuildingsToRooms}}
  {{range .BuildingsInOrder}}
    {{$rooms := (index $buildingsToRoomsMap .)}}
    <div class="building buildingWithImage" id="{{.Code}}">
      <h2>{{.Name}}</h2>
      <div style="position:absolute; top:60px" class="floorplanLink">(floorplan)</div>
      <img src="/media/floorplan/{{.FloorplanImageUrl}}" style="width:350px;position:absolute;top:78px"/>

   {{range $rooms}}
      <div id="{{.Building.Code}}_{{.Room.RoomNumber}}{{if (len .Room.Partition) gt 0}}_{{.Room.Partition}}{{end}}" style="top:{{.Room.ImageTop}}px;left:{{.Room.ImageLeft}}px;width:{{.Room.ImageWidth}}px;height:{{.Room.ImageHeight}}px" ondragover="allowDrop(event)" onDrop="dropFromEvent(event)"><div class="roomLabel">{{.Room.RoomNumber}}{{.Room.Partition}}: {{.BedsString}}</div><span class="roomProperties">{{.AllProperties}}</span></div>
   {{end}}
   </div>
 {{end}}


  </div>

{{$eventDate := .CurrentEvent.StartDate}}  
{{$RsvpToGroupsMap := .RsvpToGroupsMap}}
{{$allStatuses := .AllRsvpStatuses}}
{{$peopleToProperties := .PeopleToProperties}}
<form action="/saveRooming" method="POST">

<input type="submit" value="Save"/>


<div class="unassigned">
{{range $i, $status := .StatusOrder}}
  {{range $j, $listOfGroups := (index $RsvpToGroupsMap $status)}}
    <div id="inv{{$i}}_{{$j}}" class="group groupContainer invitee {{(index $allStatuses $status).ShortDescription}}" draggable="true" ondragstart="drag(event)" ondragend="">
    {{if gt (len .) 1}}<div class="exploder" onclick="explodeInvitee('inv{{$i}}_{{$j}}')">+</div>{{end}}
    {{range $k, $person := .}}
      <div id="guest_{{$person.DatastoreKey.Encode}}" class="guest group {{(index $allStatuses $status).ShortDescription}}">{{$person.FirstNameWithAge $eventDate}}
	<span class="guestProperties">{{index $peopleToProperties $person.DatastoreKey}}</span>
	<span class="guestKey">{{$person.DatastoreKey.Encode}}</span>
</div>
    {{end}}
    </div>
  {{end}}
{{end}}

{{range $i, $group := .NoRsvps}}
    <div id="inv{{$i}}--" class="group invitee NoRsvps" draggable="true" ondragstart="drag(event)" ondragend="">
    {{if gt (len .) 1}}<div class="exploder" onclick="explodeInvitee('{{$i}}--')">+</div>{{end}}
    {{range $k, $person := .}}
      <div id="guest{{$i}}_{{$k}}" class="guest group NoRsvps">{{$person.FirstNameWithAge $eventDate}}</div>
    {{end}}
    </div>
{{end}}

</div>

<div style="display:none">
<table class="roomingTestTable">
{{range $i, $status := .StatusOrder}}
  {{range $j, $listOfGroups := (index $RsvpToGroupsMap $status)}}
    {{range $k, $person := .}}
	<tr><td>{{$person.FullName}}</td><td>{{$person.DatastoreKey.Encode}}</td><td><input name="roomingSlot_{{$person.DatastoreKey.Encode}}"/></td></tr>
    {{end}}
  {{end}}
{{end}}
</table>
</div>

</form>

 
{{end}}
