{{template "main.html" .}}
{{define "body"}}
{{$eventDate := .CurrentEvent.StartDate}}  
<h1>Rooming Assignments</h1>
<form method="POST" action="handleSaveReservations">
{{range .BookingsByBuilding}}
  {{if (gt (len .) 0)}}
    <div class="buildingRoomingList">
     <div class="buildingName">{{(index . 0).Building.Name}}</div>
       <div class="roomingList">
         {{range .}}
	 {{$addOns := (ne .FriSat .PlusThurs)}}
	 {{$addThurs := .AddThurs}}
           <div>
	   <input type=checkbox {{if .Reserved}}checked{{end}} name="booking_{{.KeyString}}"> 
	   <span class="roomNumber">{{.Room.RoomNumber}}:</span>
	   {{range $i, $person := .Roommates}}{{if $i}}, {{end}}{{$person.FullNameWithAge $eventDate}}{{if (and $addOns (index $addThurs $i))}} (+Thu){{end}}{{end}}
	   {{if .ShowConvertToDouble}} -- Want Double Bed{{end}}
                <span style="font-weight:bold">{{.DayStr}}</span>
<!--	               <span style="font-weight:bold">{{if eq .FriSat .PlusThurs}}{{.FriSat}} people Thu/Fri/Sat{{else if eq .PlusThurs 0}}{{.FriSat}} people Fri/Sat{{else}}{{.FriSat}} people Fri/Sat plus {{.PlusThurs}} people Thursday{{end}}: </span>{{.CostString}} -->
	   </div>
         {{end}}
      </div>
    </div>
  {{end}}
{{end}}
<input type="submit" value="Save Reservations">
</form>

<br>
<span class="hostLiability">Total Cost -- Host Liability: {{.TotalCostForEveryone}}</span>

{{end}}
