<script type="text/JavaScript" src="../media/jquery-3.3.1.min.js"></script>
{{template "main.html" .}}
{{define "body"}}

<script>
  $( document ).ready(function() {
  
    $(".statusCheckbox").change(function() {
      var status = $(this).attr("name");
      if ($(this).is(":checked")) {
        var ages = $(".ageCheckbox:checked");
        for (var i = 0; i < ages.length; i++) {
		$("." + status + "." + $(ages[i]).attr("name")).show().closest("tr").show();
	}
      } else {
         $("." + status).hide();
      }
      adjustRows();
      adjustTotals();
    })

    $(".ageCheckbox").change(function() {
      var ageType = $(this).attr("name");
      if ($(this).is(":checked")) {
        var statuses = $(".statusCheckbox:checked");
        for (var i = 0; i < statuses.length; i++) {
		$("." + $(statuses[i]).attr("name") + "." + ageType).show().closest("tr").show().closest("tr").show();
	}
      } else {
         $("." + ageType).hide();
      }
      adjustRows();
      adjustTotals();
    })

    adjustTotals();
  });

function adjustRows() {
  var rsvpCells =$(".rsvpCell");
  for (var i=0; i < rsvpCells.length; i++) {
    if ($("div:visible", rsvpCells[i]).length == 0 ) {
      $(rsvpCells[i]).closest("tr").hide();
    }
  }
}

function adjustTotals() {
  $("#total").text($(".rsvpCell div:visible").length);
  $("#adults").text($(".rsvpCell .adult:visible").length);
  $("#children").text($(".rsvpCell .child:visible").length)
  $("#babies").text($(".rsvpCell .baby:visible").length);
}  

</script>

<h1>RSVP Report</h1>
Thursday Dinner: {{.ThursdayDinnerCount}}<br>
Friday Lunch: {{.FridayLunchYes}} Yes, {{.FridayLunchNo}} No<br>
Friday Dinner: {{.FridayDinnerCount}}<br>
Friday Ice Cream: {{.FridayIceCreamCount}}<br>
<br><br>

{{$allStatuses := .AllRsvpStatuses}}
{{$rsvpMap := .RsvpMap}}
{{$currentEvent := .CurrentEvent}}
{{$PersonToExtraInfoMap := .PersonToExtraInfoMap}}
<div style="display:inline-block" class="rsvpSelector">
  {{range .StatusOrder}}
    <input class="statusCheckbox" type="checkbox" name="{{(index $allStatuses .).ShortDescription}}" checked>{{(index $allStatuses .).ShortDescription}}<br>
  {{end}}
</div>
<div style="display:inline-block" class="rsvpSelector">
  <input class="ageCheckbox" type="checkbox" name="adult" checked> Adults<br>
  <input class="ageCheckbox" type="checkbox" name="child" checked> Kids<br>
  <input class="ageCheckbox" type="checkbox" name="baby" checked> Babies<br>
</div>

<h2><span id="total"></span> people total</h2>
<span id="adults"></span> adults<br>
<span id="children"></span> children<br>
<span id="babies"></span> babies<br>


{{$personToCost := .PersonToCost}}

<table class="rsvpReportTable">
<tr><th>Status</th><th>Guests</th><th></th><!-- <th>Thursday Dinner</th><th>Friday Lunch</th><th>Friday Dinner</th><th>Friday Ice Cream</th>--> <th>Cost/Person</th><th>Total Cost</th></tr> 
{{range .StatusOrder}}
  {{$status := .}}
  {{range (index $rsvpMap .)}}
    {{$rsvpStatus := (index $allStatuses $status).ShortDescription}}
    {{$extraInfo := (index $PersonToExtraInfoMap (index . 0).DatastoreKey.IntID)}}
    <tr>
      <td>{{(index $allStatuses $status).ShortDescription}}</td>
      <td class="rsvpCell">
        {{range .}}
	  <div class="{{$rsvpStatus}}{{if (.IsAdultAtTime $currentEvent.StartDate)}} adult{{end}}{{if (.IsChildAtTime $currentEvent.StartDate)}} child{{end}}{{if (.IsBabyAtTime $currentEvent.StartDate)}} baby{{end}}">{{.FullNameWithAge $currentEvent.StartDate }}</div>
        {{end}}
      </td>
      <td><a href="viewInvitation?invitation={{$extraInfo.InvitationKey}}">Invitation</td>
<!--      <td>{{$extraInfo.ThursdayDinnerCount}}</td>
      <td>{{$extraInfo.FridayLunch}}</td>
      <td>{{$extraInfo.FridayDinnerCount}}</td>
      <td>{{$extraInfo.FridayIceCreamCount}}</td> -->
      <td>{{range .}}{{(index $personToCost .DatastoreKey.IntID)}}<br> {{end}}</td>
      <td>{{$extraInfo.TotalCost}}</td>
    </tr>

  {{end}}
{{end}}
</table>


<h2>No RSVP</h2>
{{range .NoRsvp}}
  <div style="padding: 10px 0px">
    {{range .}}
      <div class="noRsvp">{{.FullNameWithAge $currentEvent.StartDate}}</div>
    {{end}}
  </div>
{{end}}


{{end}}
