<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{block "title" .}}Chris & Dana's June 2017 Purity Spring Retreat{{end}}</title>
    <script src="/static/support.js" language="javascript"></script>
    {{block "extrahead" .}}{{end}}
</head>

<body link="#ff9999" vlink="#9999ff" >
  Hello, World!
</body>
</html>
