{{define "rooming_subject"}}
  Your room for Purity Spring Resort
{{end}}

{{define "rooming_text"}}
  TODO
{{end}}

{{define "rooming_html"}}
<p>Dear {{CollectiveAddressFirstNames .Invitation.InviteePeople 0}},<p>


<p>Our Purity Spring weekend is coming up fast! It's time to reserve your room.</p>

<br>

<div class="logisticsContainer">
  {{$MultiRoom := (gt (len .InviteeBookings) 1)}}
  {{if $MultiRoom}}
    Your rooms:<br>
  {{else}}
    Your room:<br>
  {{end}}
  <div class="allRooms" style="display:inline-block;margin-bottom:20px">

  {{range .InviteeBookings}}
  <div class="individualRoom" style="margin:10px 0px 15px 20px">
    {{if $MultiRoom}}
      {{CollectiveAddressFirstNames (DerefPeople .Roommates) 0}}:
    {{end}}
    {{if .Building}}
      <b>{{.Building.Name}}, room {{.Room.RoomNumber}}</b>
    {{end}}
    {{if gt (len .RoomSharers) 0}}
      with:<br>
      <div class="roomSharers" style="margin-left:20px">
      {{range .RoomSharers}}
        {{SharerName .}}
      {{end}}

      </div><p>Be sure to coordinate with your roommates to make sure that only one person reserves this room.</p>
    {{end}}

    {{if .ReservationMade}}
      <br>Your reservation has already been made with Purity Spring!  Consider this a purely informative email.
    {{end}}
  </div>
  {{end}}

  {{if gt (len .Unreserved) 1}}
  <br><br>
  Please call Purity Spring at 1-800-373-3754, tell them you are with the Scott/Shabsin party of June 8-11, and ask to reserve:
  <br>
  <br>
  {{range .Unreserved}}
    {{.Building.Name}}, Room {{.Room.RoomNumber}}<br>
  {{end}}
  <p>They will have this information on file.  You will need to leave a deposit equal to one night's stay, and pay the balance when you check out.</p>
  {{else if gt (len .Unreserved) 0}}
  <p>Please call Purity Spring at 1-800-373-3754, tell them you are with the Scott/Shabsin party of June 8-11, and ask to reserve {{(index .Unreserved 0).Building.Name}}, room {{(index .Unreserved 0).Room.RoomNumber}}.  They will have this information on file.  You will need to leave a deposit equal to one night's stay, and pay the balance when you check out.</p>
  {{end}}

  {{if .ShowConvertToDouble}}
            <p>Note: your room has all twin beds.  If you would like 2 of them pushed together to make a king, let Purity Spring know when you reserve your room and it will be taken care of before you arrive.</p>
  {{end}}
<p>Because our weekend retreat is coming up alarmingly fast (eek!) we'd appreciate it if you could call in your reservation within the next few days.</p>

<p>As always, you can update your rsvp or profile on our event website:</p>
<p style="margin-left: 5em;"><a href="{{.LoginLink}}">{{.LoginLink}}/</a></p>

  <p>We can't wait to see you in New Hampshire!</p>

  Chris & Dana

  </div>
</div>
{{end}}
