{{define "rooming_subject"}}
  {{if gt (len .Unreserved) 0}}
    Please reserve your room at Purity Spring Resort!
  {{else}}
    Your room assignment for Purity Spring Resort
  {{end}}
{{end}}

{{define "rooming_text"}}Dear {{CollectiveAddressFirstNames .PeopleComing 0}},


Our Purity Spring weekend is coming up fast!{{if gt (len .Unreserved) 0}} It's time to reserve your room.{{end}}
{{$MultiRoom := (gt (len .InviteeBookings) 1)}}
{{if $MultiRoom}}Your rooms:{{else}}Your room:{{end}}
{{range .InviteeBookings}}
{{- if $MultiRoom}}  {{CollectiveAddressFirstNames (DerefPeople .Roommates) 0}}:{{end}}
{{- if .Building}}    {{.Building.Name}}, room {{.Room.RoomNumber}}{{end}}
{{- if gt (len .RoomSharers) 0}}    with:
  {{range .RoomSharers}}
      {{SharerName . -}}
  {{end}}
  {{if not .ReservationMade}}
Be sure to coordinate with your roommates to make sure that only one person reserves this room.{{end}}
{{end}}

{{- if .ReservationMade}}
Your reservation has already been made with Purity Spring!  Consider this a purely informative email.
{{end}}
{{end}}
{{- if gt (len .Unreserved) 1}}
Please call Purity Spring at 1-800-373-3754, tell them you are with the Scott/Shabsin party of June 7-10, and ask to reserve:
{{range .Unreserved}}
    {{.Building.Name}}, Room {{.Room.RoomNumber}}{{end}}

They will have this information on file.  You will need to leave a deposit equal to one night's stay, and pay the balance when you check out.
  {{- else if gt (len .Unreserved) 0}}
Please call Purity Spring at 1-800-373-3754, tell them you are with the Scott/Shabsin party of June 7-10, and ask to reserve {{(index .Unreserved 0).Building.Name}}, room {{(index .Unreserved 0).Room.RoomNumber}}.  They will have this information on file.  You will need to leave a deposit equal to one night's stay, and pay the balance when you check out.

{{- if .ShowConvertToDouble}}
Note: your room has all twin beds.  If you would like 2 of them pushed together to make a king, let Purity Spring know when you reserve your room and it will be taken care of before you arrive.
{{end}}
Because our weekend retreat is coming up alarmingly fast (eek!) we'd appreciate it if you could call in your reservation within the next few days.
  {{end}}

As always, you can update your rsvp or profile on our event website: {{.LoginLink}}

We can't wait to see you in New Hampshire!


Chris & Dana
{{end}}

{{define "rooming_html"}}
<p>Dear {{CollectiveAddressFirstNames .PeopleComing 0}},<p>


<p>Our Purity Spring weekend is coming up fast!{{if gt (len .Unreserved) 0}} It's time to reserve your room.{{end}}</p>

<br>

<div>
  {{$MultiRoom := (gt (len .InviteeBookings) 1)}}
  {{if $MultiRoom}}
    Your rooms:<br>
  {{else}}
    Your room:<br>
  {{end}}
  <div style="display:inline-block;margin-bottom:20px">

  {{range .InviteeBookings}}
  <div style="margin:10px 0px 15px 20px">
    {{if $MultiRoom}}
      {{CollectiveAddressFirstNames (DerefPeople .Roommates) 0}}:
    {{end}}
    {{if .Building}}
      <b>{{.Building.Name}}, room {{.Room.RoomNumber}}</b>
    {{end}}
    {{if gt (len .RoomSharers) 0}}
      with:<br>
      <div style="margin-left:20px">
      {{range .RoomSharers}}
        {{SharerName .}}<br>
      {{end}}

      </div>{{if not .ReservationMade}}<p>Be sure to coordinate with your roommates to make sure that only one person reserves this room.</p>{{end}}
    {{end}}

    {{if .ReservationMade}}
      <br>Your reservation has already been made with Purity Spring!  Consider this a purely informative email.
    {{else if .ShowConvertToDouble}}
            <p><b>Note</b>: your room has all twin beds.  If you would like 2 of them pushed together to make a king, let Purity Spring know when you reserve your room and it will be taken care of before you arrive.</p>
    {{end}}
  </div>
  {{end}}
  {{if gt (len .Unreserved) 1}}
  <br><br>
  Please call Purity Spring at 1-800-373-3754, tell them you are with the Scott/Shabsin party of June 7-10, and ask to reserve:
  <br>
  <br>
  {{range .Unreserved}}
    {{.Building.Name}}, Room {{.Room.RoomNumber}}<br>
  {{end}}
  <p>They will have this information on file.  You will need to leave a deposit equal to one night's stay, and pay the balance when you check out.</p>
  {{else if gt (len .Unreserved) 0}}
  <p>Please call Purity Spring at 1-800-373-3754, tell them you are with the Scott/Shabsin party of June 7-10, and ask to reserve {{(index .Unreserved 0).Building.Name}}, room {{(index .Unreserved 0).Room.RoomNumber}}.  They will have this information on file.  You will need to leave a deposit equal to one night's stay, and pay the balance when you check out.</p>

<p>Because our weekend retreat is coming up alarmingly fast (eek!) we'd appreciate it if you could call in your reservation within the next few days.</p>
  {{end}}

<p>As always, you can <a href="{{.LoginLink}}">update your rsvp or profile</a> on our event website.

<p>We can't wait to see you in New Hampshire!</p>

  Chris & Dana

  </div>
</div>
{{end}}
