{{define "rsvpconfirmation_text"}}
  {{/* TODO: implement text version */}}
  {{$Invitation := .RealInvitation}}
  {{range $i, $invitee := .RealInvitation.Invitees}}
    {{$RsvpStatus := (index $Invitation.RsvpMap $invitee.Key)}}    
    {{$invitee.Person.FullName}}: {{$RsvpStatus.ShortDescription}}
  {{end}}
{{end}}

{{define "rsvpconfirmation_html"}}
    {{$Invitation := .RealInvitation}}
    {{$AllPronouns := .AllPronouns}}
    {{$AllFoodRestrictions := .AllFoodRestrictions}}
    {{$IsAttending := .IsAttending}}
{{if gt (len .AdditionalPeople) 0}} 
<table style="margin-bottom:20px"><tr>
<td style="vertical-align:top">Requested additional guests:</td>
<td>  
  {{range .AdditionalPeople}}
    <b>{{.Name}}</b> -- {{.Description}}<br>
  {{end}}
</td>
</tr></table>
{{end}}

  <table>
    {{range $i, $invitee := $Invitation.Invitees}}
      {{$RsvpStatus := (index $Invitation.RsvpMap $invitee.Key)}}
      <tr>
        <td>{{$invitee.Person.FullName}}</td>
        <td style="padding-left:10px"><b>{{with $RsvpStatus.ShortDescription}}{{.}}{{else}}NO RSVP{{end}}</b></td>
      </tr>
    {{end}}
  </table>

{{if .AnyAttending}}
<table style="margin-top:30px">
<tr><td>Housing preference:</td><td><b>{{$Invitation.Housing.ReportDescription}}</b></td></tr>
{{if gt $Invitation.HousingPreferenceBooleans 0}}
<tr><td style="vertical-align:top">Housing questions:</td><td><b> {{range $i, $hpi := .AllHousingPreferenceBooleans}}
    {{if (HasHousingPreference $Invitation $hpi)}}
       {{$hpi.ReportDescription}}<br>
    {{end}}
  {{end}}
 </b></td></tr>
{{end}}

{{if not (eq $Invitation.HousingNotes "")}}
<tr><td style="vertical-align:top">Housing notes:</td><td><b>{{$Invitation.HousingNotes}}</b></td></tr>
{{end}}
</table>

<table style="margin-top:30px">
<tr><td>Driving Preference:</td><td><b>{{$Invitation.Driving.ReportDescription}}</b></td></tr>
<tr><td>Parking:</td><td><b>{{$Invitation.Parking.ReportDescription}}</b></td></tr>
{{if not (eq $Invitation.LeaveFrom "")}}
  <tr><td>Leave From:</td><td><b>{{$Invitation.LeaveFrom}}</b></td></tr>
{{end}}
{{if not (eq $Invitation.LeaveTime "")}}
  <tr><td>Leave Time:</td><td><b>{{$Invitation.LeaveTime}}</b></td></tr>
{{end}}
{{if not (eq $Invitation.AdditionalPassengers "")}}
  <tr><td>Additional Passengers:</td><td><b>{{$Invitation.AdditionalPassengers}}</b></td></tr>
{{end}}
  {{if not (eq $Invitation.TravelNotes "")}}
<tr><td style="vertical-align:top">Travel notes:</td><td><b>{{$Invitation.TravelNotes}}</b></td></tr>
{{end}}
</table>

<div style="margin-top:50px;">
{{range $i, $invitee := $Invitation.Invitees}}
  {{if (index $IsAttending $i)}}  
<div style="margin-bottom:15px"><b>{{$invitee.Person.FullName}}</b>
  <table style="border-collapse:collapse">
<tr><td></td><td style="width:75px;font-weight:bold;text-align:center">No</td><td style="width:75px;font-weight:bold;text-align:center">Maybe</td><td style="width:75px;font-weight:bold;text-align:center">Definitely</td><td style="width:150px;font-weight:bold;text-align:center">Lead?</td></tr>
{{range $a, $activity := $Invitation.Activities}}
  {{$activityRanking := (index (index $Invitation.ActivitiesMap $invitee.Key) $activity.EncodedKey)}} 
  {{$activityLead := (index (index $Invitation.ActivitiesLeadersMap $invitee.Key) $activity.EncodedKey)}} 
<tr>
<td style="padding-right:15px">{{$activity.Activity.Keyword}}</td>
<td style="border:1px solid black; text-align:center">{{if eq $activityRanking 1}}X{{end}}</td>
<td style="border:1px solid black; text-align:center">{{if eq $activityRanking 2}}X{{end}}</td>
<td style="border:1px solid black; text-align:center">{{if eq $activityRanking 3}}X{{end}}</td>
<td style="border:1px solid black; text-align:center">{{if $activityLead}}X{{end}}</td>
</tr>
{{end}}
</table></div>
{{end}}
{{end}}


<table style="margin-top:30px">
  <tr><td style="vertical-align:top">Other Info:</td><td><b>{{$Invitation.OtherInfo}}</b></td></tr>
</table>
</div>

{{end}}

<h3>Invitees</h3>

{{range $i, $invitee := $Invitation.Invitees}}
  {{with $invitee.Person}}
    <h4>{{.FullName}}</h4>
    <table style="margin:0px 0px 20px 30px">
      <tr><td>First Name:</td><td><b>{{.FirstName}}</b></td></tr>
      <tr><td>Last Name:</td><td><b>{{.LastName}}</b></td></tr>
      <tr><td>Nickname:</td><td><b>{{.Nickname}}</b></td></tr>
      <tr><td>Pronouns:</td><td><b>{{PronounString .Pronouns}}</b></td></tr>
      <tr><td>Email:</td><td><b>{{.Email}}</b></td></tr>
      <tr><td>Telephone:</td><td><b>{{.Telephone}}</b></td></tr>
      <tr><td style="vertical-align:top">Address:</td><td><b>{{.Address}}</b></td></tr>
      <tr><td>Birthdate:</td><td><b>{{if not .Birthdate.IsZero}}{{.Birthdate.Format "01/02/2006"}}{{end}}{{if .NeedBirthdate}} NEED BIRTHDATE{{end}}</b></td></tr>
      <tr><td>Food Restrictions:</td><td><b>{{range $i, $restriction := .FoodRestrictions}}{{with (index $AllFoodRestrictions $restriction)}}{{.Description}} {{end}}{{end}}</b></td></tr>
      <tr><td style="vertical-align:top">Food Notes:</td><td>{{.FoodNotes}}</td></tr>
    </table>
  {{end}}
{{end}}

{{end}}
