{{define "rsvpconfirmation_text"}}
  {{/* TODO: implement text version */}}
  {{$Invitation := .RealInvitation}}
  {{range $i, $invitee := .RealInvitation.Invitees}}
    {{$RsvpStatus := (index $Invitation.RsvpMap $invitee.Key)}}    
    {{$invitee.Person.FullName}}: {{$RsvpStatus.ShortDescription}}
  {{end}}
{{end}}

{{define "rsvpconfirmation_html"}}
    {{$Invitation := .RealInvitation}}
    {{$AllPronouns := .AllPronouns}}
    {{$AllFoodRestrictions := .AllFoodRestrictions}}
  <table>

    {{range $i, $invitee := $Invitation.Invitees}}
      {{$RsvpStatus := (index $Invitation.RsvpMap $invitee.Key)}}
      <tr>
        <td>{{$invitee.Person.FullName}}</td>
        <td style="padding-left:10px"><b>{{with $RsvpStatus.ShortDescription}}{{.}}{{else}}NO RSVP{{end}}</b></td>
      </tr>
    {{end}}
  </table>

<table style="margin-top:30px">
<tr><td>Housing preference:</td><td><b>{{$Invitation.Housing.ReportDescription}}</b></td></tr>
{{if gt $Invitation.HousingPreferenceBooleans 0}}
<tr><td style="vertical-align:top">Housing questions:</td><td><b> {{range $i, $hpi := .AllHousingPreferenceBooleans}}
    {{if (HasHousingPreference $Invitation $hpi)}}
       {{$hpi.ReportDescription}}<br>
    {{end}}
  {{end}}
 </b></td></tr>
{{end}}

{{if not (eq $Invitation.HousingNotes "")}}
<tr><td style="vertical-align:top">Housing notes:</td><td><b>{{$Invitation.HousingNotes}}</b></td></tr>
{{end}}
</table>

<table style="margin-top:30px">
<tr><td>Driving Preference:</td><td><b>{{$Invitation.Driving.ReportDescription}}</b></td></tr>
{{if not (eq $Invitation.LeaveFrom "")}}
  <tr><td>Leave From:</td><td><b>{{$Invitation.LeaveFrom}}</b></td></tr>
{{end}}
{{if not (eq $Invitation.LeaveTime "")}}
  <tr><td>Leave Time:</td><td><b>{{$Invitation.LeaveTime}}</b></td></tr>
{{end}}
{{if not (eq $Invitation.AdditionalPassengers "")}}
  <tr><td>Additional Passengers:</td><td><b>{{$Invitation.AdditionalPassengers}}</b></td></tr>
{{end}}
  {{if not (eq $Invitation.TravelNotes "")}}
<tr><td style="vertical-align:top">Travel notes:</td><td><b>{{$Invitation.TravelNotes}}</b></td></tr>
{{end}}
</table>



<h3>Invitees</h3>

{{range $i, $invitee := $Invitation.Invitees}}
  {{with $invitee.Person}}
    <h4>{{.FullName}}</h4>
    <table style="margin:0px 0px 20px 30px">
      <tr><td>First Name:</td><td><b>{{.FirstName}}</b></td></tr>
      <tr><td>Last Name:</td><td><b>{{.LastName}}</b></td></tr>
      <tr><td>Nickname:</td><td><b>{{.Nickname}}</b></td></tr>
      <tr><td>Pronouns:</td><td><b>{{PronounString .Pronouns}}</b></td></tr>
      <tr><td>Email:</td><td><b>{{.Email}}</b></td></tr>
      <tr><td>Telephone:</td><td><b>{{.Telephone}}</b></td></tr>
      <tr><td>Address:</td><td><b>{{.Address}}</b></td></tr>
      <tr><td>Birthdate:</td><td><b>{{if not .Birthdate.IsZero}}{{.Birthdate.Format "01/02/2006"}}{{end}}{{if .NeedBirthdate}} NEED BIRTHDATE{{end}}</b></td></tr>
      <tr><td>Food Restrictions:</td><td><b>{{range $i, $restriction := .FoodRestrictions}}{{with (index $AllFoodRestrictions $restriction)}}{{.Description}}{{end}}{{end}}</b></td></tr>
      <tr><td>Food Notes:</td><td>{{.FoodNotes}}</td></tr>
    </table>
  {{end}}
{{end}}

{{end}}
